@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Light.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Regular.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Book.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Book.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Medium.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-SemiBold.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-SemiBold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-SemiBold.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Bold.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(/fonts/CerebriSans/CerebriSans-Heavy.woff2);
  src: url(/fonts/CerebriSans/CerebriSans-Heavy.ttf);
  font-weight: 900;
  font-style: normal;
}

.navbar {
  background-color: white;
  padding: 16px 8px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 5px 16px 5px;
  }
}

@media (min-width: 1080px) {
  .navbar .container {
    max-width: 840px !important;
  }
}

@media (min-width: 1440px) {
  .navbar .container {
    max-width: 1032px !important;
    padding-right: 18px;
  }
}

.navbar .navbar-brand {
  margin-right: 75px;
  padding-left: 2px;
}

@media (min-width: 1080px) {
  .navbar .navbar-brand {
    margin-right: 126px;
  }
}

@media (min-width: 1440px) {
  .navbar .navbar-brand {
    margin-right: 113px;
  }
}

.navbar .navbar-brand .mainLogo {
  height: 41px;
}

@media (min-width: 1440px) {
  .navbar .navbar-brand .mainLogo {
    margin-left: 3px;
  }
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: 1px auto white;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(31, 40, 49)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
  background-size: cover;
  height: 47px;
}

.navbar .mainLogo--light {
  display: inherit;
}

.navbar .mainLogo--dark {
  display: none;
}

@media (min-width: 1080px) {
  .navbar .navbar-nav {
    padding-top: 5px;
  }
}

.navbar .navbar-nav a.nav-link {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 1080px) {
  .navbar .navbar-nav a.nav-link {
    font-size: 11px;
  }
}

@media (min-width: 1440px) {
  .navbar .navbar-nav a.nav-link {
    font-size: 14px;
    color: #E8E9EB;
    letter-spacing: 0;
  }
}

.navbar .navbar-nav a.nav-link:hover {
  color: #e9eaec;
}

.navbar.navbar-light {
  background-color: white;
}

.navbar.navbar-light .mainLogo--light {
  display: none;
}

.navbar.navbar-light .mainLogo--dark {
  display: inherit;
}

.navbar.navbar-light .navbar-nav a.nav-link {
  color: #555555;
}

.navbar.navbar-light .navbar-nav a.nav-link:hover {
  color: #666666;
}

.navbar.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgb(31, 40, 49)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

@media (min-width: 1440px) {
  .navbar.navbar-xcloud .navbar-brand,
  .navbar.navbar-token .navbar-brand,
  .navbar.navbar-team .navbar-brand,
  .navbar.navbar-roadmap .navbar-brand {
    margin-right: 118px;
  }

  .navbar.navbar-xcloud .navbar-brand .mainLogo,
  .navbar.navbar-token .navbar-brand .mainLogo,
  .navbar.navbar-team .navbar-brand .mainLogo,
  .navbar.navbar-roadmap .navbar-brand .mainLogo {
    margin-left: 9px;
    height: 29px;
  }
}

.navbar.navbar-xcloud {
  background-color: #9ecbf7;
}

.navbar.navbar-xcloud .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31, 40, 49)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-xcloud .navbar-nav a.nav-link {
  color: #1F2831;
}

.navbar.navbar-xcore {
  background-color: #2b2b2b;
}

@media (min-width: 768px) {
  .navbar {
    padding: 16px;
  }
}

@media (max-width: 991.98px) {
  .navbar > .container,
  .navbar > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    display: none !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }

  .navbar .navbar-toggler {
    display: block;
  }

  .navbar .navbar-expand-lg > .container,
  .navbar .navbar-expand-lg > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1080px) {
  .navbar {
    padding: 5px 16px 5px;
  }

  .navbar .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .navbar .navbar-toggler {
    display: none;
  }

  .navbar .navbar-expand-lg > .container,
  .navbar .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section__label {
  color: #538ef4;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.section__heading {
  font-size: 44px;
  font-weight: bold;
  letter-spacing: -0.8px;
  line-height: 0.93;
  margin-top: 30px;
}

.section__subheading {
  color: #838387;
  font-size: 20px;
  letter-spacing: -0.1px;
  line-height: 1.55;
  margin-top: 30px;
}

.section__cta {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.53;
  margin-top: 42px;
}

.section--about {
  background-color: #fcfcfc;
  padding: 200px 0;
}

.section--about .section__heading {
  display: none;
  font-size: 31px;
  font-weight: 600;
  letter-spacing: -0.7px;
  line-height: 1.68;
}

@media (min-width: 1440px) {
  .section--about .section__heading {
    display: block;
  }
}

.section--about__articles {
  margin-bottom: 92px;
  margin-top: 92px;
}

.section--about__articles img {
  display: block;
}

.section--about__articles img:not(:first-of-type) {
  margin-top: 52px;
}

.section--about .col-lg-6:first-of-type {
  border-right: 1px solid #e8e8e8;
  padding-right: 120px;
}

.section--about .col-lg-6:last-of-type {
  padding-left: 120px;
}

.section--news-hub {
  padding-top: 92;
}

.section--news-hub .section__cta {
  background-color: #4585f5;
  background-image: url("/img/icons/chevron-right-circle.svg");
  background-position: 160px center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-radius: 31.4px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(174, 199, 242, 0.62);
          box-shadow: 0 2px 3px 0 rgba(174, 199, 242, 0.62);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin-top: 82px;
  padding: 13px 55px 13px 13px;
}

.section--subscribe {
  border-top: 1px solid #d8d8d8;
  margin-top: 128px;
  padding-top: 92px;
  padding-bottom: 130px;
}

.section--subscribe .section__heading {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 1.15;
}

.section--subscribe__form {
  margin-top: 72px;
}

.section--subscribe__input {
  background-color: #ffffff;
  border-radius: 30.5px;
  border: none;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.06);
  outline: none;
  padding: 18px 36px;
  width: 100%;
}

.section--subscribe__input::-webkit-input-placeholder {
  color: #838387;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.48;
}

.section--subscribe__input:-ms-input-placeholder {
  color: #838387;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.48;
}

.section--subscribe__input::-ms-input-placeholder {
  color: #838387;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.48;
}

.section--subscribe__input::placeholder {
  color: #838387;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.48;
}

.section--subscribe__btn {
  border-radius: 30.5px;
  background-color: #000000;
  color: white;
  padding: 16px 36px;
  margin-top: 23px;
}

.section--preview-xcloud,
.section--preview-xcore {
  margin-top: 50px;
}

.section--preview-xcloud .section__content,
.section--preview-xcore .section__content {
  border-radius: 9px;
  color: white;
  height: 351px;
  padding: 42px 32px 36px 36px;
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__content,
  .section--preview-xcore .section__content {
    background-repeat: no-repeat;
    background-size: contain;
    height: 476px;
  }
}

.section--preview-xcloud .section__icon,
.section--preview-xcore .section__icon {
  height: 36px;
}

.section--preview-xcloud .section__label,
.section--preview-xcore .section__label {
  text-transform: none;
  color: white;
  font-size: 53.1px;
  font-weight: bold;
  letter-spacing: -2.5px;
  line-height: 0.75;
  margin-top: 47px;
}

.section--preview-xcloud .section__label::first-letter,
.section--preview-xcore .section__label::first-letter {
  letter-spacing: -8.6px;
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__label,
  .section--preview-xcore .section__label {
    margin-top: 117px;
  }
}

.section--preview-xcloud .section__heading,
.section--preview-xcore .section__heading {
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 0.95;
  margin-bottom: 55px;
  margin-top: 21px;
  opacity: 0.76;
}

.section--preview-xcloud .section__subheading,
.section--preview-xcore .section__subheading {
  display: none;
}

.section--preview-xcloud .section__cta,
.section--preview-xcore .section__cta {
  background-image: url("/img/icons/chevron-right-xcloud.svg");
  background-position: 122px 14px;
  background-repeat: no-repeat;
  background-size: 8px;
  border-radius: 19.8px;
  border: solid 1.1px #d0d0d6;
  font-size: 18.7px;
  font-weight: 500;
  height: 40px;
  line-height: 1.64;
  opacity: 0.8;
  padding: 7px 30px 7px 18px;
  position: relative;
  left: -4px;
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__cta,
  .section--preview-xcore .section__cta {
    margin-top: 20px;
  }
}

.section--preview-xcloud .section__content {
  background-image: radial-gradient(circle at 1% 82%, #2c5fb8, #1686cc 50%, #3fafeb);
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__content {
    background-image: url("/img/mockups/xcloud/bg.png");
  }
}

.section--preview-xcloud .section__cta {
  background-image: url("/img/icons/chevron-right-xcloud.svg");
}

.section--preview-xcore .section__content {
  background-image: radial-gradient(circle at 7% 50%, #110f2c, #19163f 48%, #2a256c);
  -webkit-box-shadow: 0 7px 14px 0 #e9e9f5;
          box-shadow: 0 7px 14px 0 #e9e9f5;
}

@media (min-width: 1440px) {
  .section--preview-xcore .section__content {
    background-image: url("/img/mockups/xcore/bg.png");
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.section--preview-xcore .section__icon {
  height: 49px;
}

.section--preview-xcore .section__cta {
  background-image: url("/img/icons/chevron-right-xcore.svg");
}

.subsection__heading {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: -0.6px;
  line-height: 1.15;
}

@media (min-width: 1440px) {
  .subsection__heading {
    color: #192d69;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 1.27;
  }
}

.subsection__content {
  color: #838387;
  font-size: 20px;
  letter-spacing: -0.1px;
  line-height: 1.55;
}

.pageFooter {
  background-color: #16181a;
  color: #707273;
  padding: 92px 0 52px 0;
}

.pageFooter .section__label {
  color: white;
}

.pageFooter__logoContainer img {
  height: 36px;
}

.pageFooter .nav--social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (min-width: 1080px) {
  .pageFooter .nav--social {
    display: none;
  }
}

.pageFooter .nav .nav-item--social {
  display: none;
}

@media (min-width: 1080px) {
  .pageFooter .nav .nav-item--social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.pageFooter a.nav-link {
  font-size: 12px;
  font-weight: normal;
  line-height: 2.13;
  color: #707273;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.pageFooter a.nav-link:not(.disabled):hover {
  color: #cbcccd;
}

.pageFooter a.nav-link--social {
  padding: 0 12px;
}

@media (min-width: 1080px) {
  .pageFooter a.nav-link {
    padding: 11px 8px 7px;
  }
}

.pageFooter .pageFooterNav .nav-link {
  padding: 8px 8px;
}

@media (min-width: 1440px) {
  .pageFooter .pageFooterNav .nav-link {
    padding: 8px 11px;
  }
}

.pageFooter__bottom {
  border-top: 1px solid #3d4247;
  margin-top: 62px;
  padding-top: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageFooter__copyright {
  color: #9ea2a3;
  font-size: 14px;
  line-height: 2.74;
  margin-bottom: 0;
}

@media (min-width: 1080px) {
  .pageFooter__copyright {
    padding-top: 8px;
  }
}

@media (min-width: 1440px) {
  .pageFooter__copyright {
    padding-top: 10px;
  }
}

body {
  background: white;
  font-family: "Cerebri Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
  padding-right: 24px;
  padding-left: 24px;
}

#page-home .pageHeader {
  margin-bottom: 120px;
  margin-top: 88px;
}

#page-home .pageHeader__heading {
  font-family: "Cerebri Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.7px;
  line-height: 1.24;
}

@media (min-width: 1440px) {
  #page-home .pageHeader__heading {
    font-size: 71px;
    font-weight: 500;
    letter-spacing: -2.3px;
    line-height: 0.87;
  }
}

#page-home .pageHeader__subheading {
  color: #8e8e93;
  font-size: 26px;
  font-weight: normal;
  height: 108.5px;
  letter-spacing: -0.5px;
  line-height: 1.39;
  opacity: 0.7;
  max-width: 348px;
}

@media (min-width: 1440px) {
  #page-home .pageHeader__subheading {
    font-size: 43px;
    letter-spacing: -1.2px;
    line-height: 1.19;
    max-width: 750px;
  }
}

#page-home .articlePreview {
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
  margin-top: 72px;
  overflow: hidden;
}

#page-home .articlePreview__content {
  padding: 32px;
}

#page-home .articlePreview__date {
  color: #538ef4;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.2px;
  line-height: 3;
  text-transform: uppercase;
}

#page-home .articlePreview__title {
  font-size: 22px;
  letter-spacing: -0.7px;
  line-height: 1.27;
  min-height: 56px;
}

#page-home .articlePreview__cta {
  color: #3b7ff5;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.54;
}

