@media (min-width: 768px) {
  #page-cloud .section--cloud-architecture .subsection--reimagined,
  #page-cloud .section--cloud-everywhere {
    padding-left: calc(50vw - 360px) !important;
  }
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-architecture .subsection--reimagined,
  #page-cloud .section--cloud-everywhere {
    padding-left: calc(50vw - 480px) !important;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-architecture .subsection--reimagined,
  #page-cloud .section--cloud-everywhere {
    padding-left: calc(50vw - 570px) !important;
  }
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/CircularStd-Medium.otf") format("otf");
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/CircularStd-Black.otf") format("otf");
}

.navbar {
  background-color: #16181a;
  padding: 16px;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 16px;
  }
}

@media (min-width: 1080px) {
  .navbar .container {
    max-width: 840px;
  }
}

@media (min-width: 1440px) {
  .navbar .container {
    max-width: 1032px;
  }
}

.navbar .navbar-brand {
  margin-right: 75px;
  padding-left: 2px;
}

@media (min-width: 1080px) {
  .navbar .navbar-brand {
    margin-right: 126px;
  }
}

@media (min-width: 1440px) {
  .navbar .navbar-brand {
    margin-right: 109px;
  }
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  outline: 1px auto white;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .mainLogo--light {
  display: inherit;
}

.navbar .mainLogo--dark {
  display: none;
}

.navbar .navbar-nav a.nav-link {
  text-transform: uppercase;
  color: #e8e9eb;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 1080px) {
  .navbar .navbar-nav a.nav-link {
    font-size: 11px;
  }
}

@media (min-width: 1440px) {
  .navbar .navbar-nav a.nav-link {
    font-size: 13px;
  }
}

.navbar .navbar-nav a.nav-link:hover {
  color: #e9eaec;
}

.navbar.navbar-light {
  background-color: #f5f5f5;
}

.navbar.navbar-light .mainLogo--light {
  display: none;
}

.navbar.navbar-light .mainLogo--dark {
  display: inherit;
}

.navbar.navbar-light .navbar-nav a.nav-link {
  color: #555555;
}

.navbar.navbar-light .navbar-nav a.nav-link:hover {
  color: #666666;
}

.navbar.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31, 40, 49)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-xcloud {
  background-color: #9ecbf7;
}

.navbar.navbar-xcloud .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31, 40, 49)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-xcore {
  background-color: #2b2b2b;
}

.pageFooter {
  background-color: #16181a;
  color: #707273;
  padding: 42px 15px 24px;
}

@media (min-width: 1080px) {
  .pageFooter {
    padding: 42px;
  }
}

@media (min-width: 575px) {
  .pageFooter__logoContainer {
    max-width: 212px;
  }
}

@media (min-width: 768px) {
  .pageFooter__logoContainer {
    max-width: 206px;
  }
}

.pageFooter a.nav-link {
  font-size: 12px;
  line-height: 2.13;
  color: #707273;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.pageFooter a.nav-link:not(.disabled):hover {
  color: #cbcccd;
}

.pageFooter a.nav-link--social {
  padding: 0 12px;
}

.pageFooter__copyright {
  padding-top: 15px;
}

.pageFooter__terms a.nav-link,
.pageFooter__privacy a.nav-link {
  font-size: 18px;
  line-height: 2.07;
}

@media (min-width: 1080px) {
  .pageFooter__terms a.nav-link,
  .pageFooter__privacy a.nav-link {
    font-size: 12px;
    line-height: 2.13;
  }
}

@media (min-width: 1440px) {
  .pageFooter__terms a.nav-link,
  .pageFooter__privacy a.nav-link {
    font-size: 15px;
    line-height: 2.13;
  }
}

.pageFooter .pageFooterNav .nav-link {
  padding: 8px 8px;
}

body {
  background: white;
  font-family: "Circular Std", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.pageHeader {
  padding: 45px 0 72px;
}

.pageHeader__heading {
  font-size: 85px;
  font-weight: bold;
  line-height: 0.94;
  letter-spacing: -3.8px;
}

.pageHeader__subheading {
  font-size: 25px;
  line-height: 1.56;
  letter-spacing: -0.4px;
}

footer {
  text-align: center;
}

.section__footer {
  margin-top: 56px;
}

.section--preview-xcloud,
.section--preview-xcore {
  background: #fafafa;
  margin-bottom: 19px;
  padding: 0 !important;
}

@media (min-width: 1080px) {
  .section--preview-xcloud,
  .section--preview-xcore {
    margin: 36px;
  }
}

@media (min-width: 1080px) {
  .section--preview-xcloud .offset-md-6,
  .section--preview-xcore .offset-md-6 {
    margin-top: 51px;
    padding-left: 62px;
  }
}

.section--preview-xcloud .section__icon,
.section--preview-xcore .section__icon {
  max-height: 59px;
}

@media (min-width: 1080px) {
  .section--preview-xcloud .section__icon,
  .section--preview-xcore .section__icon {
    max-height: 33px;
  }
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__icon,
  .section--preview-xcore .section__icon {
    max-height: 40px;
  }
}

.section--preview-xcloud .section__label,
.section--preview-xcore .section__label {
  font-size: 50px;
  font-weight: bold;
  line-height: 0.94;
  letter-spacing: -2.2px;
  color: #000000;
  margin-top: 20px;
}

@media (min-width: 1080px) {
  .section--preview-xcloud .section__label,
  .section--preview-xcore .section__label {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 24.8px;
    font-weight: 500;
    line-height: 1.79;
    letter-spacing: -0.9px;
    color: #181818;
  }
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__label,
  .section--preview-xcore .section__label {
    font-size: 31px;
    letter-spacing: -1.2px;
  }
}

.section--preview-xcloud .section__heading,
.section--preview-xcore .section__heading {
  display: none;
}

@media (min-width: 1080px) {
  .section--preview-xcloud .section__heading,
  .section--preview-xcore .section__heading {
    display: inherit;
    font-size: 46.4px;
    font-weight: bold;
    line-height: 0.86;
    letter-spacing: -1.7px;
    max-width: 314px;
  }
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__heading,
  .section--preview-xcore .section__heading {
    font-size: 58px;
    line-height: 0.86;
    letter-spacing: -2.2px;
    max-width: 390px;
  }
}

.section--preview-xcloud .section__subheading,
.section--preview-xcore .section__subheading {
  display: none;
}

@media (min-width: 1080px) {
  .section--preview-xcloud .section__subheading,
  .section--preview-xcore .section__subheading {
    display: inherit;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }
}

@media (min-width: 1440px) {
  .section--preview-xcloud .section__subheading,
  .section--preview-xcore .section__subheading {
    font-size: 25px;
  }
}

.section--preview-xcloud > .container,
.section--preview-xcore > .container {
  height: 509px;
  padding: 73px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 216px;
}

@media (min-width: 1080px) {
  .section--preview-xcloud > .container,
  .section--preview-xcore > .container {
    text-align: left;
    height: 398px;
    padding: 40px;
    background-position-y: center;
  }
}

.section--preview-xcloud > .container {
  background-image: url(/img/mockups/homepage-xcloud.png);
}

.section--preview-xcore > .container {
  background-image: url(/img/mockups/homepage-xcore.png);
}

@media (min-width: 1080px) {
  .section--preview-xcore > .container {
    background-position: right center;
    padding-left: 90px;
    padding-top: 90px;
  }
}

.nav-tabs {
  border-bottom: 1px solid #edc0d5;
  max-width: 348px;
}

@media (min-width: 1080px) {
  .nav-tabs {
    margin: 0 auto;
  }
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 1.6px solid transparent;
  color: #e08db4;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.nav-tabs .nav-link.active {
  background: none;
  border: none;
  border-bottom: 1.6px solid #e92882;
  color: #e92882;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-bottom-color: #e08db4;
}

.tab-content {
  margin: 40px auto 0;
  max-width: 779px;
}

#page-home .navbar {
  background-color: #16181a;
}

#page-home .navbar .navbar-nav .nav-link {
  color: #e8e9eb;
}

#page-home .pageHeader {
  background-color: #1b1d1f;
  color: white;
  padding-bottom: 0;
  padding-top: 43px;
}

@media (min-width: 1080px) {
  #page-home .pageHeader {
    padding-top: 0;
  }
}

#page-home .pageHeader > .container {
  height: 548px;
  background-color: #1b1d1f;
  background-image: url(/img/headers/home.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 312px;
}

@media (min-width: 1080px) {
  #page-home .pageHeader > .container {
    padding-top: 111px;
    padding-left: 82px;
    height: 516px;
    background-position-x: right;
    background-position-y: top;
    background-size: 493px;
  }
}

@media (min-width: 1440px) {
  #page-home .pageHeader > .container {
    padding-left: 72px;
    padding-top: 131px;
    height: 656px;
    background-position-x: right;
    background-position-y: top;
    background-size: 582px;
  }
}

#page-home .pageHeader__heading {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.8px;
  line-height: 0.96;
  margin-top: 0;
  max-width: 320px;
  padding-left: 8px;
}

@media (min-width: 1440px) {
  #page-home .pageHeader__heading {
    margin-top: 52px;
  }
}

@media (min-width: 1440px) {
  #page-home .pageHeader__heading {
    margin-top: 18px;
    font-size: 57px;
    max-width: 400px;
  }
}

#page-home .pageHeader__subheading {
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: -0.6px;
  padding-left: 9px;
}

@media (min-width: 1080px) {
  #page-home .pageHeader__subheading {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.1px;
    max-width: 275px;
  }
}

@media (min-width: 1440px) {
  #page-home .pageHeader__subheading {
    font-size: 25px;
    max-width: 347px;
  }
}

#page-home .pageHeader__cta {
  background: #323435;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.56;
  margin-left: 10px;
  margin-top: 23px;
  padding: 7px 21px;
}

@media (min-width: 1080px) {
  #page-home .pageHeader__cta {
    font-size: 17px;
    padding: 13px 22px;
  }
}

@media (min-width: 1440px) {
  #page-home .pageHeader__cta {
    font-size: 21px;
    padding: 15px 26px;
    margin-top: 34px;
  }
}

#page-home .section {
  padding: 35px 0;
}

#page-home .section--home-references {
  padding-bottom: 0;
}

@media (min-width: 1080px) {
  #page-home .section--home-references {
    padding: 45px 0 0;
  }
}

@media (min-width: 1080px) {
  #page-home .section--home-references {
    padding: 60px 0 15px;
  }
}

#page-home .section--home-references .referenceContainer {
  margin-bottom: 35px;
}

@media (min-width: 1080px) {
  #page-home .section--home-references .referenceContainer {
    margin-bottom: 0;
  }
}

#page-cloud .pageHeader {
  background-color: #bddfff;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 12px;
}

#page-cloud .pageHeader > .container {
  padding-bottom: 15px;
}

#page-cloud .pageHeader__heading {
  color: #3b4461;
  font-weight: bold;
  font-size: 69px;
  line-height: 0.96;
  letter-spacing: -3.9px;
  margin-left: -4px;
  margin-bottom: 13px;
}

@media (min-width: 1080px) {
  #page-cloud .pageHeader__heading {
    font-size: 85px;
    letter-spacing: -4.7px;
    line-height: 1.28;
  }
}

#page-cloud .pageHeader__subheading {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.3px;
  color: #3b4461;
  padding: 0 10px;
}

@media (min-width: 1080px) {
  #page-cloud .pageHeader__subheading {
    font-size: 25px;
    line-height: 1.56;
    letter-spacing: -0.4px;
  }
}

#page-cloud .pageHeader__btn {
  border-radius: 4px;
  border: solid 1px #0083ff;
  color: #0083ff;
  cursor: normal;
  font-size: 18.8px;
  font-weight: 500;
  height: 51px;
  letter-spacing: 0.1px;
  line-height: 1.47;
  margin-top: 37px;
  padding: 12px;
  width: 233px;
}

#page-cloud .pageHeader__btn:hover,
#page-cloud .pageHeader__btn:focus {
  background: none;
  color: #0083ff;
  cursor: normal;
}

#page-cloud .section--cloud-beta {
  background-color: #bddfff;
}

@media (min-width: 768px) {
  #page-cloud .section--cloud-beta {
    padding: 124px 0;
  }
}

#page-cloud .section--cloud-beta > .container {
  padding-left: 24px;
  padding-bottom: 88px;
}

#page-cloud .section--cloud-beta .section__heading {
  color: #3b4461;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2.2px;
  line-height: 0.9;
  margin-bottom: 50px;
  max-width: 265px;
}

#page-cloud .section--cloud-beta input {
  background-color: transparent;
  border-radius: 6.4px;
  border: solid 0.8px #3288d9;
  height: 48.8px;
  width: 235px;
  margin-top: -8px;
}

#page-cloud .section--cloud-beta .btn {
  background-color: #3aa0ff;
  border-radius: 6.4px;
  font-size: 15px;
  font-weight: 500;
  height: 48.8px;
  letter-spacing: -0.2px;
  margin-left: 6.6px;
  width: 92.2px;
}

#page-cloud .section--cloud-architecture {
  background-image: linear-gradient(290deg, #e8d6ff, #e2d4ff);
  padding-bottom: 0;
  padding-top: 50px;
}

#page-cloud .section--cloud-architecture .section__heading {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -3.4px;
  line-height: 0.85;
  max-width: 335px;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-architecture .section__heading {
    max-width: 769.6px;
    font-size: 72px;
    line-height: 0.81;
  }
}

#page-cloud .section--cloud-architecture .subsection {
  padding-bottom: 100px;
  padding-top: 112px;
}

#page-cloud .section--cloud-architecture .subsection__heading {
  font-size: 40px;
  font-weight: bold;
  line-height: 0.88;
  letter-spacing: -1.1px;
  color: #503b61;
}

#page-cloud .section--cloud-architecture .subsection__content {
  max-width: 273.6px;
  font-size: 17px;
  line-height: 1.51;
  letter-spacing: -0.2px;
  color: #433d4a;
}

#page-cloud .section--cloud-architecture .subsection--reimagined {
  background-image: linear-gradient(137deg, #eee0ff, #e2c9ff);
}

#page-cloud .section--cloud-architecture .subsection--encryption {
  background-image: linear-gradient(136deg, #e9d9ff, #efcffa);
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-architecture .subsection--encryption {
    padding-left: 72px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-architecture .subsection--encryption {
    padding-left: 100px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-architecture .subsection--encryption {
    padding-left: 136px;
  }
}

#page-cloud .section--cloud-plans {
  background-image: linear-gradient(119deg, #fce0ff, #fddeff);
  padding-bottom: 110.2px;
  padding-top: 96.2px;
}

#page-cloud .section--cloud-plans > .container {
  padding-left: 24px;
}

#page-cloud .section--cloud-plans .section__heading {
  color: #513b61;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.85;
  letter-spacing: -3.4px;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-plans .section__heading {
    max-width: 769.6px;
    font-size: 72px;
    line-height: 0.81;
    letter-spacing: -3.4px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-plans .section__heading {
    font-size: 90px;
    letter-spacing: -4.2px;
  }
}

#page-cloud .section--cloud-plans .section__content {
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
  color: #433d4a;
  max-width: 314.4px;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-plans .section__content {
    font-size: 17px;
    line-height: 1.51;
    margin-top: 72px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-plans .section__content {
    font-size: 22px;
    line-height: 1.45;
  }
}

#page-cloud .section--cloud-features {
  background-image: linear-gradient(138deg, #ffe8ee, #ffdbe8);
  padding-bottom: 98.4px;
  padding-top: 98.4px;
}

#page-cloud .section--cloud-features .section__heading {
  color: #513b61;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -3.4px;
  line-height: 0.85;
  margin-bottom: 36px;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-features .section__heading {
    font-size: 72px;
    line-height: 0.81;
    margin-bottom: 16px;
    max-width: 854.6px;
    padding-left: 75px;
    letter-spacing: -3.8px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-features .section__heading {
    font-size: 90px;
    letter-spacing: -4.2px;
    max-width: 962px;
  }
}

#page-cloud .section--cloud-features .featurePreviewContainer {
  background-image: url("/img/mockups/xcloud-laptop-blank-1080.png");
  display: none;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-features .featurePreviewContainer {
    display: block;
    height: 565px;
    margin-top: 70px;
    margin-bottom: 28px;
  }
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-features .featurePreviewContainer {
    background-image: url("/img/mockups/xcloud-laptop-blank-1440.png");
  }
}

#page-cloud .section--cloud-features .featurePreviewContainer .featurePreview {
  height: 459px;
  top: 42px;
  width: 733px;
}

@media (min-width: 1440px) {
  #page-cloud .section--cloud-features .featurePreviewContainer .featurePreview {
    height: 574px;
    top: 13px;
    width: 916px;
  }
}

#page-cloud .section--cloud-features .nav-tabs .nav-link {
  padding-bottom: 13px;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-features .tab-content {
    max-width: 628px;
    margin-top: 28px;
  }
}

#page-cloud .section--cloud-features .tab-pane {
  color: #7f4a6c;
}

@media (min-width: 1080px) {
  #page-cloud .section--cloud-features .tab-pane {
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.39;
    letter-spacing: -0.4px;
  }
}

#page-cloud .section--cloud-everywhere {
  background-image: linear-gradient(122deg, #ffe6ec, #fce6ec);
  padding: 76px 24px;
}

#page-cloud .section--cloud-everywhere .section__heading {
  color: #613b4b;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.1px;
  line-height: 0.88;
  max-width: 272.8px;
}

#page-cloud .section--cloud-everywhere .section__content {
  color: #543348;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 1.51;
  max-width: 292.8px;
}

#page-cloud .section--cloud-ipad {
  display: none;
  background-image: linear-gradient(131deg, #ffebf0, #ffedf1);
}

@media (min-width: 768px) {
  #page-cloud .section--cloud-ipad {
    display: block;
    height: 30.7vw;
  }
}

#page-cloud .section--cloud-ipad img {
  position: absolute;
  bottom: 0;
}

#page-cloud .section--cloud-iphone {
  background-image: linear-gradient(103deg, #fae1e8, #ffe3e9);
  padding-top: 81px;
  text-align: center;
}

#page-cloud .section--cloud-iphone .btn {
  border-radius: 3.4px;
  border: solid 0.8px #f4235b;
  color: #f4235b;
  cursor: normal;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  letter-spacing: -0.1px;
  line-height: 1.47;
  padding: 10px 15.5px;
  width: 158.4px;
}

#page-cloud .section--cloud-iphone .btn:hover,
#page-cloud .section--cloud-iphone .btn:focus {
  background: none;
  color: #f4235b;
  cursor: normal;
}

#page-cloud .planContainer {
  margin-top: 60px;
}

#page-cloud .plan {
  margin-bottom: 15px;
}

#page-cloud .plan__quantity {
  background-color: #e591ed;
  border-radius: 8.8px;
  color: white;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: -0.1px;
  margin-bottom: 0;
  padding: 15px 0;
  text-align: center;
  width: 130.2px;
}

#page-cloud .plan__price {
  color: #402f4d;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

#page-core .pageHeader {
  background-color: black;
  background-image: url("/img/headers/xcore.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 142px;
  text-align: center;
  padding-top: 159px;
}

#page-core .pageHeader__heading {
  font-size: 69px;
  font-weight: bold;
  line-height: 0.96;
  letter-spacing: -1.9px;
}

@media (min-width: 1080px) {
  #page-core .pageHeader__heading {
    font-size: 104px;
    font-weight: 500;
    letter-spacing: -2.2px;
  }
}

@media (min-width: 1080px) {
  #page-core .pageHeader__heading {
    font-size: 129.6px;
    font-weight: 500;
    letter-spacing: -2.8px;
  }
}

#page-core .pageHeader__subheading {
  margin-top: 15px;
}

#page-core .section--core-summary {
  background: black;
  color: white;
  padding-top: 120px;
}

#page-core .section--core-summary .subsection {
  border-top: solid 3px #5b4ade;
  padding-top: 40px;
  margin: 0 15px 100px 0px;
}

#page-core .section--core-summary .subsection__heading {
  font-size: 46px;
  line-height: 0.96;
  letter-spacing: -1.3px;
  font-weight: bold;
}

#page-core .section--core-summary .subsection__content {
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
}

#page-core .section--core-more-info {
  padding: 120px 0;
  padding-top: 60px;
  text-align: center;
}

#page-core .section--core-more-info .section__heading {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.3px;
  line-height: 0.96;
}

@media (min-width: 1080px) {
  #page-core .section--core-more-info .section__heading {
    font-size: 72px;
    letter-spacing: -3.4px;
    line-height: 0.89;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  #page-core .section--core-more-info .section__heading {
    font-size: 90px;
    letter-spacing: -4.3px;
  }
}

#page-core .section--core-more-info .section__subheading {
  font-weight: 500;
  margin: 0 auto;
  max-width: 673px;
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
}

#page-core .section--core-screenshot .subsection {
  margin-bottom: 56px;
}

#page-core .section--core-screenshot .subsection__heading {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.9px;
  line-height: 1;
  max-width: 190px;
}

#page-core .section--core-screenshot .subsection__content {
  font-size: 19px;
  letter-spacing: -0.3px;
  line-height: 1.47;
  max-width: 287px;
}

#page-core .section--core-screenshot .subsection--host {
  margin-top: 60px;
}

@media (min-width: 1080px) {
  #page-core .section--core-screenshot .subsection--host {
    margin-top: 0;
  }
}

#page-core .section--core-screenshot .section__footer {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.3px;
  line-height: 1.3;
  max-width: 817px;
}

#page-core .section--core-beta {
  padding-top: 120px;
  padding-bottom: 163px;
}

#page-core .section--core-beta .section__heading {
  border-top: solid 3px #6600ff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1.1px;
  line-height: 0.95;
  max-width: 804px;
  padding-top: 33px;
}

@media (min-width: 1080px) {
  #page-core .section--core-beta .section__heading {
    font-size: 46px;
    line-height: 0.9;
    letter-spacing: -2.2px;
  }
}

@media (min-width: 1440px) {
  #page-core .section--core-beta .section__heading {
    font-size: 58px;
    letter-spacing: -2.8px;
  }
}

#page-core .section--core-beta .section__subheading {
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.45;
  max-width: 601px;
}

#page-core .section--core-beta .section__content {
  padding-top: 54px;
}

#page-core .section--core-beta input {
  border-radius: 8px;
  border: solid 1px #5b4ade;
  padding-top: 4px;
  position: relative;
  top: -4px;
  width: 236px;
  height: 50px;
}

#page-core .section--core-beta .btn {
  background-color: #5b4ade;
  border-radius: 8px;
  font-weight: 500;
  height: 50px;
  margin-left: 6px;
  width: 94px;
  font-size: 15px;
  letter-spacing: -0.2px;
}

#page-core .section--core-design {
  background-color: #fafafa;
  padding: 134px 0;
}

#page-core .section--core-design .section__heading {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.3px;
  line-height: 0.96;
  max-width: 880px;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  #page-core .section--core-design .section__heading {
    font-size: 72px;
    letter-spacing: -3.4px;
    line-height: 0.89;
  }
}

@media (min-width: 1440px) {
  #page-core .section--core-design .section__heading {
    font-size: 90px;
    line-height: 0.89;
    letter-spacing: -4.3px;
  }
}

#page-core .section--core-design .section__subheading {
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
  font-weight: 500;
  max-width: 726px;
  margin: 24px auto;
}

#page-core .section--core-design .featurePreviewContainer {
  background: aqua;
  height: 410px;
  width: 100%;
  width: 100vw;
  margin-left: -15px;
  margin-top: 72px;
  margin-bottom: 24px;
}

@media (min-width: 1080px) {
  #page-core .section--core-design .featurePreviewContainer {
    background: inherit;
  }
}

#page-core .section--core-design .featurePreview {
  height: 410px;
  width: 100%;
  width: 100vw;
  background-image: url("/img/mockups/xcore/dashboard.png");
}

#page-core .section--core-design .featurePreview--xcore-dashboard {
  background-image: url("/img/mockups/xcore/dashboard.png");
}

#page-core .section--core-design .featurePreview--settings {
  background-image: url("/img/mockups/xcore/settings.png");
}

#page-core .nav-tabs {
  border-bottom-color: #969499;
  max-width: 225px;
}

#page-core .nav-tabs .nav-link {
  color: #969499;
}

#page-core .nav-tabs .nav-link.active {
  border-bottom: 1.6px solid #6600ff;
  color: #6600ff;
}

#page-core .nav-tabs .nav-link:hover,
#page-core .nav-tabs .nav-link:focus {
  border-bottom-color: #d1b3ff;
}

#page-core .tab-pane {
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
}

#page-token .inxtDatum {
  margin-bottom: 34px;
}

#page-token .inxtDatum__label {
  color: #666666;
  font-size: 16px;
  margin: 0;
}

#page-token .inxtDatum__point {
  font-size: 82px;
  letter-spacing: -3.9px;
  margin: 0;
  position: relative;
  top: -20px;
}

#page-token .inxtDatum__point--positive {
  color: #15d157;
}

#page-token .inxtDatum__measure {
  font-size: 49px;
}

#page-token .inxtDatum__sign {
  font-size: 62px;
}

#page-token .section {
  margin-bottom: 89px;
  margin: 0;
}

#page-token .section__heading {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1.5px;
  line-height: 0.87;
}

#page-token .section__content p {
  font-size: 22px;
  letter-spacing: -0.2px;
  line-height: 1.45;
}

#page-token .section__content p:last-of-type {
  margin-bottom: 0;
}

#page-token .section--inxt-data {
  margin-bottom: 130px;
  margin-top: 52px;
}

#page-token .section--inxt-data .row:nth-child(1) .inxtDatum {
  border-bottom: 2px solid black;
}

#page-token .section--inxt-faciliting .section__content {
  max-width: 786px;
}

#page-token .section--inxt-exchange .section__content {
  max-width: 786px;
}

#page-token .section--inxt-exchange .btn {
  background: #f5f5f5;
  border-radius: 3px;
  height: 50px;
  margin-right: 20px;
  width: 203px;
}

#page-token .section--inxt-exchange .btn:last-of-type {
  margin-right: 0;
}

#page-token .section--inxt-buy {
  padding-bottom: 125px;
}

#page-token .section--inxt-buy .section__content {
  max-width: 786px;
}

#page-token .section--inxt-buy .btn {
  border-radius: 11.2px;
  border: solid 2px #d9d9d9;
  height: 102px;
  padding: 21px 0 19px;
  width: 125px;
}

#page-token .section--inxt-buy p.section__instruction {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -0.7px;
  margin-bottom: 35px;
  margin-top: 47px;
}

#page-token hr {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, #000000), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
  border: none;
  height: 1px;
  margin-bottom: 93px;
  margin-top: 74px;
  max-width: 1440px;
}

#page-team .section .section__heading {
  font-size: 46px;
  line-height: 0.96;
  letter-spacing: -1.3px;
  font-weight: bold;
}

@media (min-width: 1080px) {
  #page-team .section .section__heading {
    font-size: 85px;
    line-height: 0.94;
    letter-spacing: -3.8px;
  }
}

#page-team .section .section__content {
  padding-top: 72px;
}

#page-team .section--team-core {
  padding-top: 72px;
}

#page-team .section--team-partners .teamMember {
  height: 300px;
}

#page-team .teamMember {
  border-radius: 4px;
  height: 260px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #16181a;
}

@media (min-width: 1080px) {
  #page-team .teamMember {
    height: 434px;
  }
}

#page-team .teamMember--blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-team .teamMember--partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
}

#page-team .teamMember__text {
  color: white;
  padding: 22px 0 19px 0;
  text-align: center;
}

#page-team .teamMember__name {
  font-size: 22px;
  font-weight: bold;
  line-height: 0.73;
  margin-bottom: 12px;
}

#page-team .teamMember__position {
  color: #afb1b3;
  font-size: 15px;
  letter-spacing: -0.3px;
  line-height: 1.05;
  margin-bottom: 0;
}

#page-team .teamMember__bio {
  display: none;
}

#page-team .teamMember__heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 0.53;
  margin-bottom: 15px;
}

#page-team .teamMember__subheading {
  color: #afb1b3;
  font-size: 18px;
  letter-spacing: -0.4px;
  line-height: 0.87;
  margin-bottom: 40px;
}

#page-team .teamMember__btn {
  background-color: #2e2f30;
  color: white;
}

#page-team hr {
  border-top: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
  max-width: 1440px;
  margin: 156px auto 105px auto;
}

#page-timeline .section--timeline {
  padding-top: 72px;
}

#page-timeline .section--timeline .section__heading {
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.3px;
  line-height: 0.96;
  margin-bottom: 60px;
}

@media (min-width: 1080px) {
  #page-timeline .section--timeline .section__heading {
    font-size: 68px;
    letter-spacing: -3px;
    line-height: 0.94;
    margin-bottom: 16px;
  }
}

@media (min-width: 1080px) {
  #page-timeline .section--timeline .section__heading {
    font-size: 85px;
    letter-spacing: -3.8px;
  }
}

#page-timeline .subsection__label {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 1.88;
  margin-bottom: 0;
}

#page-timeline .subsection__heading {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1.3px;
  line-height: 1.09;
}

#page-timeline .subsection__content {
  font-size: 20px;
  letter-spacing: -0.1px;
  line-height: 1.55;
  max-width: 385px;
}

#page-timeline .subsection__status {
  border-radius: 3.2px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.84;
  max-width: 227px;
  padding: 10px 0;
  text-align: center;
}

#page-timeline .subsection__status--upcoming {
  background-color: #a1c2f9;
}

#page-timeline .subsection__status--in-progress {
  background-color: #4385f4;
}

#page-timeline .subsection__status--published {
  background-color: #1b1d1f;
}

#page-timeline hr {
  max-width: 1440px;
  margin: 65px auto;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, #000000), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
  border: none;
  height: 1px;
}

#page-resources .section {
  padding-top: 72px;
}

#page-resources .section__heading {
  font-size: 46px;
  font-weight: bold;
  line-height: 0.96;
  letter-spacing: -1.3px;
  margin-bottom: 97px;
}

@media (min-width: 1080px) {
  #page-resources .section__heading {
    font-size: 85px;
    line-height: 0.94;
    letter-spacing: -3.8px;
    margin-bottom: 120px;
  }
}

#page-resources .subsection__heading {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.06;
}

@media (min-width: 1080px) {
  #page-resources .subsection__heading {
    font-size: 45px;
    letter-spacing: -1.3px;
    line-height: 1.09;
  }
}

#page-resources .subsection__content {
  line-height: 1.34;
  letter-spacing: -0.2px;
  margin-bottom: 60px;
}

@media (min-width: 1080px) {
  #page-resources .subsection__content {
    max-width: 346px;
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: -0.1px;
    margin-bottom: 0;
  }
}

@media (min-width: 1080px) {
  #page-resources .subsection .col-md {
    text-align: right;
  }
}

#page-resources .subsection__btn {
  background-image: url("/img/icons/download.png");
  background-position: 22px center;
  background-repeat: no-repeat;
  background-size: 23px;
  border-radius: 3.6px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  background-color: #1b1d1f;
  max-width: 232px;
  padding: 14px 22px 14px 54px;
}

#page-resources .subsection__btn:hover,
#page-resources .subsection__btn:focus {
  background-color: #323639;
  text-decoration: none;
}

#page-resources hr {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, #000000), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
  height: 1px;
  border: none;
  margin: 100px auto;
}

#page-terms .pageHeader__heading {
  font-size: 70px;
}

@media (min-width: 1080px) {
  #page-terms .pageHeader__heading {
    font-size: 85px;
  }
}

#page-terms .section {
  margin-bottom: 60px;
}

#page-terms .section__heading {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.09;
  letter-spacing: -1.3px;
}

#page-terms .section__content {
  font-size: 20px;
  line-height: 1.29;
  letter-spacing: -0.1px;
}

@media (min-width: 1080px) {
  #page-terms .section__content {
    font-size: 24px;
  }
}

