@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/CircularStd-Medium.otf') format('otf');
}

@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/CircularStd-Black.otf') format('otf');
}
