@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/CircularStd-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Circular Std';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Circular Book';
	font-style: normal;
	src: url('/fonts/CircularStd-Book.otf') format('opentype');
}
