.pageFooter{

	background-color: #16181a;
	color: #707273;
	padding: 42px 15px 13px;

	@include whenLargerThan('medium-screen'){
		padding: 32px 0 10px;
	}

	&__logoContainer{

	    margin-top: 42px;
	    margin-bottom: 17px;

		@include whenLargerThan('small-screen') {
			max-width: 195px;
			margin-top: 6px;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 299px;
		}

		@include whenLargerThan('medium-screen') {
			margin-top: 5px;
		}

		img{

		    height: 36px;

		    @include whenLargerThan('medium-screen') {
		        height: 30px
		    }

		}

	}

	.nav{

		&--social{

			display: inline-flex;

			@include whenLargerThan('medium-screen'){
				display: none;
			}

		}

		.nav-item{

			&--social{
				display: none;

				@include whenLargerThan('medium-screen'){
					display: inline-flex;
				}

			}

		}

	}

	a.nav-link {

		font-size: 12px;
		font-weight: normal;
		line-height: 2.13;
		color: #707273;
		transition: color $transition-default;

		&:not(.disabled):hover{
			color: #cbcccd;
		}

		&--social{
			padding: 0 12px;
		}

		@include whenLargerThan('medium-screen') {
			padding: 11px 8px 7px;
		}

	}

	&__copyright{

		padding-top: 15px;

		@include whenLargerThan('medium-screen') {
			padding-top: 8px;
		}

	}

	&__terms a.nav-link,
	&__privacy a.nav-link{

		font-size: 18px;
		line-height: 2.07;

		@include whenLargerThan('medium-screen') {
			font-size: 12px;
			line-height: 2.13;
		}

		@include whenLargerThan('large-screen') {
			font-size: 15px;
  			line-height: 2.13;
		}

	}

	.pageFooterNav .nav-link{
		padding: 8px 8px;
	}

}
