.pageFooter{

	background-color: #16181a;
	color: #707273;
	padding: 42px;

	a.nav-link {

		font-size: 12px;
		line-height: 2.13;
		color: #707273;
		transition: color $transition-default;

		&:not(.disabled):hover{
			color: #cbcccd;
		}
	}
}
