.navbar{

	background-color: #16181a;

	.navbar-brand{
		margin-right: 75px;
	}

	.navbar-dark .navbar-toggler{
		border: none;
		color: #e8e9eb;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	.navbar-nav a.nav-link{
		text-transform: uppercase;
		color: #e8e9eb;
		font-size: 11px;
  		font-weight: bold;
  		transition: color $transition-default;
  		&:hover{
  			color: #e9eaec;
  		}
	}

}
