.navbar{

	background-color: #16181a;
	padding: 16px;

	@include whenLargerThan('small-screen') {
		padding: 0 16px;
	}

	.container{

		@include whenLargerThan('medium-screen') {
    		max-width: 840px;
		}

		@include whenLargerThan('large-screen') {
			max-width: 1032px;
		}

	}

	.navbar-brand{

		margin-right: 75px;
		padding-left: 2px;

		@include whenLargerThan('medium-screen') {
			margin-right: 126px;
		}

		@include whenLargerThan('large-screen') {
			margin-right: 109px;
		}

	}

	.navbar-toggler{

		border: none;

		&:focus{
			outline: 1px auto white;
		}

	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	.mainLogo--light{
		display: inherit;
	}

	.mainLogo--dark{
		display: none;
	}

	.navbar-nav a.nav-link{

		text-transform: uppercase;
		color: #e8e9eb;
  		font-size: 13px;
  		font-weight: bold;
  		transition: color $transition-default;

  		@include whenLargerThan('medium-screen'){
			font-size: 11px;
  		}

  		@include whenLargerThan('large-screen'){
  			font-size: 13px;
  		}

  		&:hover{
  			color: #e9eaec;
  		}

	}

	&.navbar-light{

		background-color: #f5f5f5;

		.mainLogo--light{
			display: none;
		}

		.mainLogo--dark{
			display: inherit;
		}

		.navbar-nav a.nav-link{

			color: #555555;

	  		&:hover{
	  			color: #666666;
	  		}

		}

	}

	&.navbar-xcloud{

 		background-color: #9ecbf7;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(31, 40, 49)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}

	}

	&.navbar-xcore{

		background-color: #2b2b2b;

	}

}
