$colour-primary: green;
$colour-secondary: yellow;
$body-bg: white;
$transition-default: 0.3s;
$font-family-sans-serif: 'Cerebri Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
