#page-about{

    hr {
        margin-bottom: 102px;
        margin-top: 108px;
    }

    .pageHeader {

        background-image: url('/img/headers/about_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 668px;
        padding-top: 257px;
        position: relative;
        top: -87px;
        z-index: 1;

        @include whenLargerThan('large-screen') {
            background-image: url('/img/headers/about_desktop.png');
            height: 860px;
        }

        &__heading {
            font-size: 40.2px;
            font-weight: 500;
            letter-spacing: -1.1px;
            line-height: 1.44;
        }

        &__subheading {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -0.5px;
            line-height: 1.51;
            opacity: 0.7;
        }

    }

    .section{

        &__heading {
            font-size: 34px;
            font-weight: 600;
            letter-spacing: -0.6px;
            line-height: 1.15;
            margin-bottom: 0;
            margin-top: 20px;
        }

        &--about-intro {

            padding-bottom: 106px;

            .section__content {

                color: #8e8e93;
                font-size: 25px;
                letter-spacing: -0.3px;
                line-height: 1.44;

                p {
                    margin-bottom: 0;
                }

                em {
                    color: #31356c;
                    font-style: normal;
                }

            }

            .section__cta {
                background-color: #4585f5;
                border-radius: 31.4px;
                box-shadow: 0 2px 3px 0 rgba(174, 199, 242, 0.62);
                color: white;
                display: block;
                font-size: 18px;
                font-weight: 600;
                height: 47px;
                letter-spacing: -0.2px;
                margin-top: 60px;
                padding: 12px 22px 13px 23px;
                width: 256.2px;
            }

        }

        &--team {

            background-color: #fcfcfc;
            padding-bottom: 91px;
            padding-top: 113px;

            .section__heading {
            }

            .section__content {
                margin-top: 23px;
            }

        }

        &--team-partners{

            margin-top: 170px;

            .section__content {
                padding-top: 100px;
            }

        }

    }

    .teamMember {

        margin-top: 90px;

        &__name {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: -0.3px;
            line-height: 0.62;
            margin-top: 36px;
        }

        &__position {
            color: #6083a6;
            font-size: 18px;
            letter-spacing: -0.1px;
            line-height: 0.85;
            margin-top: 20px;
        }

    }

    .teamPartner {

        border-radius: 6px;
        color: white;
        min-height: 410px;
        overflow: hidden;
        position: relative;

        .test {

            position: relative;

            &::after {
                background-color: #1f2526;
                bottom: -10px;
                content: " ";
                display: block;
                height: 40px;
                left: 0;
                position: absolute;
                transform: rotate(2deg);
                width: 110%;
            }

        }

        &__image {
            // Only supported in Webkit
            // clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        }

        &--blackberry {

            background-color: #1f2526;

            .teamPartner__image {
                height: 400px;
                left: -25px;
                position: relative;
            }

        }

        &--civic {

            background-color: #3da975;

            .teamPartner__image {
                height: 400px;
                left: -25px;
                position: relative;
            }

        }

    }

    .section {

        &--branding-assets {

            background-image: url("/img/resources/branding-assets.png");
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            display: none;
            height: 604px;
            padding-bottom: 157px;
            padding-top: 146px;

            @include whenLargerThan('large-screen') {
                display: block;
            }

            .section__content {
                padding-left: 12px;
            }

            .section__label {
                color: white;
                margin-left: 4px;
            }

            .section__heading {
                font-size: 38px;
                font-weight: 600;
                letter-spacing: -1.3px;
                line-height: 1.21;
                margin-top: 22px;
                max-width: 278px;
            }

            .section__cta {
                background-color: black;
                border-radius: 27.5px;
                color: white;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.1px;
                line-height: 2.37;
                margin-left: 1px;
                margin-top: 67px;
                padding: 10px 56px 10px 27px;
            }

        }

    }

}
