#page-about{

    hr {
        margin-bottom: 102px;
        margin-top: 108px;
    }

    .pageHeader {

        background-image: url('/img/headers/about.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        height: 668px;
        padding-top: 257px;
        position: relative;
        top: -87px;
        z-index: 1;

        &__heading {
            font-size: 40.2px;
            font-weight: 500;
            letter-spacing: -1.1px;
            line-height: 1.44;
        }

        &__subheading {
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -0.5px;
            line-height: 1.51;
            opacity: 0.7;
        }

    }

    .section{

        &__heading {
            font-size: 34px;
            font-weight: 600;
            letter-spacing: -0.6px;
            line-height: 1.15;
            margin-bottom: 0;
            margin-top: 20px;
        }

        &--about-intro {

            .section__content {

                color: #8e8e93;
                font-size: 25px;
                letter-spacing: -0.3px;
                line-height: 1.44;

                em {
                    color: #31356c;
                    font-style: normal;
                }

            }

        }

        &--team {

            background-color: #fcfcfc;
            padding-top: 113px;

            .section__heading {
            }

            .section__content {
                margin-top: 23px;
            }

        }

        &--team-partners{
            margin-top: 170px;
        }

    }

    .teamMember {

        margin-top: 90px;

        &__name {
            font-size: 25px;
            font-weight: 500;
            letter-spacing: -0.3px;
            line-height: 0.62;
            margin-top: 36px;
        }

        &__position {
            color: #6083a6;
            font-size: 18px;
            letter-spacing: -0.1px;
            line-height: 0.85;
            margin-top: 20px;
        }

    }

    .teamPartner {

        border-radius: 6px;
        color: white;
        margin-top: 102px;
        min-height: 410px;
        overflow: hidden;
        position: relative;

        .test {

            position: relative;

            &::after {
                background-color: #1f2526;
                bottom: -10px;
                content: " ";
                display: block;
                height: 40px;
                left: 0;
                position: absolute;
                transform: rotate(2deg);
                width: 110%;
            }

        }

        &__image {
            // Only supported in Webkit
            // clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        }

        &--blackberry {

            background-color: #1f2526;
            margin-top: 100px;

            .teamPartner__image {
                height: 400px;
                left: -25px;
                position: relative;
            }

        }

        &--civic {

            background-color: #3da975;

            .teamPartner__image {
                height: 400px;
                left: -25px;
                position: relative;
            }

        }

    }

}
