@import "variables";
@import "utilities";
@import "responsive-rules";
@import "fonts";
@import "navbar";
@import "footer";

body{
	background: $body-bg;
	font-family: $font-family-sans-serif;
}

.pageHeader{

	padding: 45px 0 72px;

	&__heading{
		font-size: 85px;
		font-weight: bold;
		line-height: 0.94;
		letter-spacing: -3.8px;
	}

	&__subheading{
		font-size: 25px;
		line-height: 1.56;
		letter-spacing: -0.4px;
	}

}

footer{
	text-align: center;
}

.section{

	&__footer{
		margin-top: 56px;
	}

	&--preview-xcloud,
	&--preview-xcore{

	    background: #fafafa;
		margin-bottom: 19px;
	    padding: 0 !important; // provided by container

	    @include whenLargerThan('medium-screen'){
	    	margin: 36px;
	    }

	    .offset-md-6{

	    	@include whenLargerThan('medium-screen'){
	    		margin-top: 51px;
	    		padding-left: 62px;
	    	}

	    }

		.section__icon{

	        max-height: 59px;

	        @include whenLargerThan('medium-screen'){
	            max-height: 33px;
	        }

	        @include whenLargerThan('large-screen'){
	            max-height: 40px;
	        }

	    }

	    .section__label{

	        font-size: 50px;
	        font-weight: bold;
	        line-height: 0.94;
	        letter-spacing: -2.2px;
	        color: #000000;
	        margin-top: 20px;

	        @include whenLargerThan('medium-screen'){
	            margin-top: 0px;
	            margin-bottom: 4px;
	            font-size: 24.8px;
	            font-weight: 500;
	            line-height: 1.79;
	            letter-spacing: -0.9px;
	            color: #181818;
	        }

			@include whenLargerThan('large-screen') {
				font-size: 31px;
				letter-spacing: -1.2px;
			}

	    }

	    .section__heading{

			display: none;

	    	@include whenLargerThan('medium-screen') {
	    		display: inherit;
				font-size: 46.4px;
				font-weight: bold;
				line-height: 0.86;
				letter-spacing: -1.7px;
				max-width: 314px;
	    	}

			@include whenLargerThan('large-screen') {
				font-size: 58px;
				line-height: 0.86;
				letter-spacing: -2.2px;
				max-width: 390px;
			}

	    }

	    .section__subheading{

            display: none;

            @include whenLargerThan('medium-screen') {
            	display: inherit;
				font-size: 20px;
				line-height: 1.2;
				letter-spacing: -0.2px;
            }

            @include whenLargerThan('large-screen') {
  				font-size: 25px;
            }

        }

	    & > .container{

	        height: 509px;
	        padding: 73px;
	        text-align: center;
	        background-size: contain;
	        background-repeat: no-repeat;
	        background-position-y: 216px; // Send offscreen at bottom

	        @include whenLargerThan('medium-screen'){
	            text-align: left;
	            height: 398px;
	            padding: 40px;
	            background-position-y: center;
	        }

	    }

	}



	&--preview-xcloud > .container{
		background-image: url(/img/mockups/homepage-xcloud.png);
	}

	&--preview-xcore > .container{

	    background-image: url(/img/mockups/homepage-xcore.png);

	    @include whenLargerThan('medium-screen'){
	        background-position: right center;
	    	padding-left: 90px;
    		padding-top: 90px;
	    }

	}

}

.nav-tabs{

    border-bottom: 1px solid #edc0d5;
    margin: 0 auto;
    max-width: 348px;

    .nav-link{

        border: none;
        border-bottom: 1.6px solid transparent;
        color: #e08db4;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.2px;

        &.active{
            background: none;
            border: none;
            border-bottom: 1.6px solid #e92882;
            color: #e92882;
        }

        &:hover,
        &:focus{
            border-bottom-color: #e08db4;
        }

    }

}

.tab-content{
    margin: 40px auto 0;
    max-width: 779px;
}

.featurePreviewContainer{

    display: block;
    min-height: 180px;
    width: 100%;
    margin: 0 auto;
    background:{
        image: url('/img/mockups/blank-laptop.png');
        position: center;
        repeat: no-repeat;
        size: contain;
    }

    @include whenLargerThan('medium-screen') {
        height: 680px;
    }

    .featurePreview{

        background:{
            image: url('/img/mockups/xcloud/dashboard.png');
            position: center;
            repeat: no-repeat;
            size: contain;
        }
        display: block;
        height: 110px;
        // height: 232px;
        margin: 0 auto;
        max-width: 63%;
        position: relative;
        top: 42px;
        width: 680px;

        @include whenLargerThan('medium-screen') {
            height: 380px;
            max-width: 100%;
            top: 140px;
            width: 680px;
        }

        @include whenLargerThan(1200px) {
            height: 420px;
            max-width: 100%;
            top: 116px;
            width: 680px;
        }

        &--xcloud-dashboard{
            background-image: url('/img/mockups/xcloud/dashboard.png');
        }

        &--file-sharing{
            background-image: url('/img/mockups/xcloud/file-sharing.png');
        }

        &--folders{
            background-image: url('/img/mockups/xcloud/folders.png');
        }

        &--xcore-dashboard{
            background-image: url('/img/mockups/xcore/dashboard.png');
        }

        &--settings{
            background-image: url('/img/mockups/xcore/file-sharing.png');
        }

    }

}

// Page-specific styles
@import "home";
@import "cloud";
@import "core";
@import "inxt";
@import "team";
@import "timeline";
@import "resources";
