@import "./node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "utilities";
@import "responsive-rules";
@import "fonts";
@import "navbar-mobile";
@import "navbar-desktop";
@import "sections";
@import "modals";
@import "footer";

body{
	background: $body-bg;
	font-family: $font-family-sans-serif;
}

.container {

    padding-right: 24px;
    padding-left: 24px;

 	@include whenLargerThan('large-screen') {
    	max-width: 1330px;
	}

}

.linebreak {

	display: block;

	@include whenLargerThan('large-screen') {
		display: none;
	}

}

a:hover {
	// Remove underline from all links
	text-decoration: none;
}

hr {
    background-color: #e8e8e8;
    height: 1px;
    margin-bottom: 100px;
    margin-top: 170px;
}

// Page-specific styles
@import "home";
@import "cloud";
@import "core";
@import "token";
@import "about";
@import "roadmap";
@import "resources";
@import "terms";


.cc-floating.cc-theme-edgeless {

	background-color: rgba(255, 255, 255, 0.96);
	border-radius: 4px;
	box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.45);
	font-family: $font-family-sans-serif;
	font-size: 14px;
	letter-spacing: 0.02px;
	max-width: none !important;
	padding: 14px 22px 12px !important;

	@include whenLargerThan('large-screen') {
		height: 44px;
		left: 50%;
		width: 528px;
	    transform: translateX(-50%);
	}

	.cc-message {
		margin: 0 !important;
	}

	.cc-btn.cc-dismiss {
		
		background-color: transparent;
		background-image: url("/img/icons/cookie-consent-close.svg");
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 50%;
		color: white;
		flex: none;
		font-size: 0;
		height: 27px;
		line-height: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		right: 19px;
    	top: 10px;
		width: 27px;

		&:active,
		&:focus {
			outline: none;
		}
		
	}

}
