@import "./node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "utilities";
@import "responsive-rules";
@import "fonts";
@import "navbar";
@import "sections";
@import "footer";

body{
	background: $body-bg;
	font-family: $font-family-sans-serif;
}

.container {
    padding-right: 24px;
    padding-left: 24px;
}

// Page-specific styles
@import "home";
// @import "cloud";
// @import "core";
// @import "token";
// @import "team";
// @import "roadmap";
// @import "resources";
// @import "terms";
