#page-cloud{

    .container{

        @include whenLargerThan('large-screen'){
            max-width: 1008px;
        }

    }

    .pageHeader{

        background-color: #bddfff;
        text-align: center;
        padding-top: 39px;
        padding-bottom: 12px;

        & > .container {
            padding-bottom: 15px;
        }

        &__heading{

            color: #3b4461;
            font-weight: bold;
            font-size: 69px;
            line-height: 0.96;
            letter-spacing: -3.9px;
            margin-left: -4px;
            margin-bottom: 13px;

            @include whenLargerThan('medium-screen'){
                font-size: 85px;
                letter-spacing: -4.7px;
                line-height: 1.28;
                margin: 0 auto;
            }

            @include whenLargerThan('large-screen'){
                max-width: 354px;
                font-size: 106px;
                letter-spacing: -5.9px;
            }

        }

        &__subheading{

            font-size: 24px;
            font-weight: normal;
            line-height: 1.21;
            letter-spacing: -0.3px;
            color: #3b4461;
            padding: 0 4px;

            @include whenLargerThan('medium-screen') {
                font-weight: 500;
                padding: 0 10px;
                font-size: 25px;
                line-height: 1.56;
                letter-spacing: -0.4px;
            }

            @include whenLargerThan('large-screen') {
                max-width: 905px;
                font-size: 34px;
                line-height: 1.21;
                letter-spacing: -1px;
                margin: 0 auto;
            }

        }

        &__btn{

            border-radius: 4px;
            border: solid 1px #0083ff;
            color: #0083ff;
            cursor: normal;
            font-size: 18.8px;
            font-weight: 500;
            height: 51px;
            letter-spacing: 0.1px;
            line-height: 1.47;
            margin-top: 37px;
            padding: 12px;
            width: 233px;

            &:hover,
            &:focus{
                background: none;
                color: #0083ff;
                cursor: normal;
            }

        }

    }

    .section{

        &--cloud-beta{

            background-color: #bddfff;

            @include whenLargerThan('small-screen'){
                padding: 124px 0;
            }

            @include whenLargerThan('medium-screen'){
                padding: 0;
            }

            & > .container{

                padding-left: 24px;
                padding-bottom: 88px;

                @include whenLargerThan('large-screen'){
                    max-width: 978px;
                }

            }

            .section__heading{

                color: #3b4461;
                font-size: 30px;
                font-weight: bold;
                letter-spacing: -2.2px;
                line-height: 0.9;
                margin-bottom: 50px;
                max-width: 265px;

                @include whenLargerThan('medium-screen') {
                    font-size: 46px;
                    letter-spacing: -2.2px;
                    line-height: 0.9;
                    max-width: 635px;
                    text-align: left;
                }

                @include whenLargerThan('large-screen') {
                    max-width: 800px;
                    font-size: 58px;
                    line-height: 0.9;
                    letter-spacing: -2.8px;
                }

            }

            input{
                background-color: transparent;
                border-radius: 6.4px;
                border: solid 0.8px #3288d9;
                height: 48.8px;
                width: 235px;
                margin-top: -8px; // Line up with button
                color: #20588c;
                &::placeholder{
                    color: #20588c;
                }
            }

            .btn {
                background-color: #3aa0ff;
                border-radius: 6.4px;
                font-size: 15px;
                font-weight: 500;
                height: 48.8px;
                letter-spacing: -0.2px;
                margin-left: 6.6px;
                width: 92.2px;
            }

        }

        &--cloud-architecture{

            background-image: linear-gradient(290deg, #e8d6ff, #e2d4ff);
            padding-bottom: 0; // Important, as the two subsections need to come to the bottom
            padding-top: 50px;

            @include whenLargerThan('medium-screen') {
                padding-top: 100px;
            }

            .section__heading{

                font-size: 60px;
                font-weight: bold;
                letter-spacing: -3.4px;
                line-height: 0.85;
                max-width: 335px;
                color: #503b61;

                @include whenLargerThan('medium-screen') {
                    max-width: 769.6px;
                    font-size: 72px;
                    line-height: 0.81;
                    margin-bottom: 100px; // To match container top padding
                }

                @include whenLargerThan('medium-screen') {
                    max-width: 962px;
                    font-size: 90px;
                    line-height: 0.81;
                    letter-spacing: -4.2px;
                }

            }

            .subsection{

                padding-bottom: 100px;
                // padding-top: 90px;
                padding-top: 112px;

                &__heading{
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 0.88;
                    letter-spacing: -1.1px;
                    color: #503b61;

                    @include whenLargerThan('medium-screen') {
                        max-width: 211px;
                    }

                }

                &__content{
                    max-width: 273.6px;
                    font-size: 17px;
                    line-height: 1.51;
                    letter-spacing: -0.2px;
                    color: #433d4a;
                }

                &--reimagined{
                    background-image: linear-gradient(137deg, #eee0ff, #e2c9ff);
                    @extend %alignWithoutContainer;
                }

                &--encryption{
                    background-image: linear-gradient(136deg, #e9d9ff, #efcffa);
                    @include whenLargerThan('medium-screen'){
                        padding-left: 72px;
                    }
                    @include whenLargerThan('large-screen'){
                        padding-left: 100px;
                    }
                    @include whenLargerThan('large-screen'){
                        padding-left: 136px;
                    }
                }

            }

        }

        &--cloud-plans{

            background-image: linear-gradient(119deg, #fce0ff, #fddeff);
            padding-bottom: 110.2px;
            padding-top: 96.2px;

            & > .container{
                padding-left: 24px;
            }

            .section__heading{

                color: #513b61;
                font-size: 60px;
                font-weight: bold;
                line-height: 0.85;
                letter-spacing: -3.4px;

                @include whenLargerThan('medium-screen') {
                    max-width: 769.6px;
                    font-size: 72px;
                    line-height: 0.81;
                    letter-spacing: -3.4px;
                }

                @include whenLargerThan('large-screen') {
                    font-size: 90px;
                    letter-spacing: -4.2px;
                }

            }

            .section__content{

                font-size: 20px;
                line-height: 1.34;
                letter-spacing: -0.2px;
                color: #433d4a;
                max-width: 314.4px;

                @include whenLargerThan('medium-screen') {
                    font-size: 17px;
                    line-height: 1.51;
                    margin-top: 72px;
                }

                @include whenLargerThan('large-screen') {
                    font-size: 22px;
                    line-height: 1.45;
                }

            }

        }

        &--cloud-features{

            background-image: linear-gradient(138deg, #ffe8ee, #ffdbe8);
            padding-bottom: 98.4px;
            padding-top: 98.4px;

            & > .container{

                @include whenLargerThan('large-screen') {
                    max-width: 1440px;
                }

            }

            .section__heading{

                color: #513b61;
                font-size: 60px;
                font-weight: bold;
                letter-spacing: -3.4px;
                line-height: 0.85;
                margin-bottom: 36px;

                @include whenLargerThan('medium-screen') {
                    font-size: 72px;
                    line-height: 0.81;
                    margin-bottom: 16px;
                    max-width: 854.6px;
                    padding-left: 75px;
                    letter-spacing: -3.8px;
                }

                @include whenLargerThan('large-screen') {
                    font-size: 90px;
                    letter-spacing: -4.2px;
                    max-width: 1120px;
                    margin-left: 150px;
                }

            }

            .featurePreviewContainer{

                background-image: url('/img/mockups/xcloud-laptop-blank-1080.png');
                display: none;

                @include whenLargerThan('medium-screen'){
                    display: block;
                    margin-top: 70px;
                    margin-bottom: 28px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-left: auto;
                    margin-right: auto;
                    height: 565px;
                    width: 960px;
                }

                @include whenLargerThan('large-screen') {
                    height: 705px;
                    width: 1260px;
                    background-image: url('/img/mockups/xcloud-laptop-blank-1440.png');
                    background-position-x: center;
                }

                .featurePreview{

                    height: 459px;
                    top: 42px;
                    width: 733px;

                    @include whenLargerThan('medium-screen') {
                        height: 459px;
                        top: 42px;
                        width: 733px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        margin: 0 auto;
                    }

                    @include whenLargerThan('large-screen') {
                        height: 574px;
                        top: 48px;
                        width: 916px;
                    }


                    &--dashboard{
                        background-image: url('/img/mockups/xcloud/dashboard.png');
                    }

                    &--file-sharing{
                        background-image: url('/img/mockups/xcloud/file-sharing.png');
                    }

                    &--folders{
                        background-image: url('/img/mockups/xcloud/folders.png');
                    }

                }

            }

            .nav-tabs .nav-link{
                padding-bottom: 13px;
            }

            .tab-content{

                @include whenLargerThan('medium-screen'){
                    max-width: 628px;
                    margin-top: 28px;
                }

            }

            .tab-pane{

                color: #7f4a6c;

                @include whenLargerThan('medium-screen'){
                    text-align: center;
                    font-size: 19px;
                    font-weight: 500;
                    line-height: 1.39;
                    letter-spacing: -0.4px;
                }

            }

        }

        &--cloud-everywhere{

            background-image: linear-gradient(122deg, #ffe6ec, #fce6ec);
            padding: 76px 24px;
            @extend %alignWithoutContainer;

            .section__heading{
                color: #613b4b;
                font-size: 40px;
                font-weight: bold;
                letter-spacing: -1.1px;
                line-height: 0.88;
                max-width: 272.8px;

                @include whenLargerThan('large-screen') {
                    max-width: 341px;
                    font-size: 50px;
                    line-height: 0.88;
                    letter-spacing: -1.4px;
                }

            }

            .section__content{
                color: #543348;
                font-size: 17px;
                letter-spacing: -0.2px;
                line-height: 1.51;
                max-width: 292.8px;
            }

        }

        &--cloud-ipad{

            display: none;
            background-image: linear-gradient(131deg, #ffebf0, #ffedf1);

            @include whenLargerThan('small-screen') {
                display: block;
                height: 30.7vw;
            }

            img{
                position: absolute;
                bottom: 0;
            }

        }

        &--cloud-iphone{

            background-image: linear-gradient(103deg, #fae1e8, #ffe3e9);
            padding-top: 81px;
            text-align: center;

            .btn{

                border-radius: 3.4px;
                border: solid 0.8px #f4235b;
                color: #f4235b;
                cursor: normal;
                font-size: 16px;
                font-weight: 500;
                height: 44px;
                letter-spacing: -0.1px;
                line-height: 1.47;
                padding: 10px 15.5px;
                width: 158.4px;

                &:hover,
                &:focus{
                    background: none;
                    color: #f4235b;
                    cursor: normal;
                }

            }

        }

    }

    .planContainer{
        margin-top: 60px;
    }

    .plan{

        margin-bottom: 15px;

        &__quantity{
            background-color: #e591ed;
            border-radius: 8.8px;
            color: white;
            font-size: 27px;
            font-weight: bold;
            letter-spacing: -0.1px;
            margin-bottom: 0;
            padding: 15px 0;
            text-align: center;
            width: 130.2px;
        }

        &__price{
            color: #402f4d;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.1px;
        }

    }

}
