#page-core{

    .pageHeader {

        background-image: url('/img/headers/xcore_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 668px;
        padding-top: 304px;
        position: relative;
        z-index: 1;

        @include whenLargerThan('large-screen') {
            padding-top: 238px;
            height: 100vh;
            background-image :url('/img/headers/xcore_desktop.png');
        }

        &__icon {

            @include whenLargerThan('large-screen') {
                height: 68px;
                width: 68px;
            }

        }

        &__heading {

            color: white;
            font-size: 60.9px;
            font-weight: bold;
            letter-spacing: -3.2px;
            line-height: 0.75;
            margin-top: 27px;

            &::first-letter {
                letter-spacing: -9.9px;
            }

            @include whenLargerThan('large-screen') {

                font-size: 78px;
                margin-left: 8px;
                letter-spacing: -2.5px;
                line-height: 0.82;
                margin-top: 42px;

                &::first-letter {
                    letter-spacing: -12px;
                }

            }

        }

        &__subheading {

            color: white;
            font-size: 33.6px;
            font-weight: 500;
            letter-spacing: -1.1px;
            line-height: 0.86;
            margin-top: 17px;
            opacity: 0.76;

            @include whenLargerThan('large-screen') {
                font-size: 41px;
                letter-spacing: -0.8px;
                line-height: 0.9;
                margin-top: 22px;
                margin-left: 6px;
            }

        }

        &__cta {

            background-color: #6852f9;
            background-image: url("/img/icons/cta-chevron-circle.png");
            background-position: 176px center;
            background-repeat: no-repeat;
            background-size: 24px;
            border-radius: 31.4px;
            box-shadow: 0 7px 8px 0 #0f0d26;
            color: white;
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 47px;
            letter-spacing: -0.2px;
            margin-top: 42px;
            padding: 12px 46px 13px 23px;
            width: 221.2px;

            @include whenLargerThan('large-screen') {
                background-position: 165px 10px;
                background-repeat: no-repeat;
                background-size: 21px;
                height: auto;
                letter-spacing: -0.5px;
                margin-left: 2px;
                margin-top: 88px;
                padding: 8px 50px 8px 20px;
                width: auto;
            }

        }

    }

    .section {

        &--core-summary {

            .subsection {

                margin-left: auto;
                margin-right: auto;
                margin-top: 91px;
                max-width: 375px;

                @include whenLargerThan('large-screen') {
                    max-width: none;
                }

                &__heading {

                    color: black;
                    font-size: 34px;
                    font-weight: 600;
                    letter-spacing: -0.6px;
                    line-height: 1.15;

                    @include whenLargerThan('large-screen') {
                        font-size: 40px;
                        font-stretch: normal;
                        font-style: normal;
                        font-weight: bold;
                        letter-spacing: -1.1px;
                        line-height: 0.98;
                    }

                }

                &__content {

                    color: #838387;
                    font-size: 20px;
                    letter-spacing: -0.1px;
                    line-height: 1.55;

                    @include whenLargerThan('large-screen') {
                        color: #838387;
                        font-size: 21px;
                        letter-spacing: -0.4px;
                        line-height: 1.48;
                    }

                }

                &--intro {

                    @include whenLargerThan('large-screen') {
                        padding-left: 100px;
                        margin-top: 150px;
                    }

                    .subsection__heading {

                        font-size: 44px;
                        letter-spacing: -0.8px;
                        line-height: 0.93;

                        @include whenLargerThan('large-screen') {
                            font-size: 58px;
                            font-weight: bold;
                            letter-spacing: -2.6px;
                            line-height: 1;
                            margin-bottom: 0;
                            margin-left: 31px;
                            max-width: 684px;
                        }

                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            color: #838387;
                            font-size: 21px;
                            font-stretch: normal;
                            font-style: normal;
                            font-weight: normal;
                            letter-spacing: -0.4px;
                            line-height: 1.48;
                            margin-left: 35px;
                            margin-top: 20px;
                            max-width: 630px;
                        }

                    }

                    &--bg {

                        background-image: url("/img/mockups/xcore/intro.png");
                        background-position: -4vw 46px;
                        background-repeat: no-repeat;
                        background-size: 575px;
                        margin: 0 auto;
                        padding-top: 396px;
                        width: 360px; // 375 - 15px left padding, to prevent body scroll

                        @include whenLargerThan('large-screen') {
                            background-position: -1vw 38px;
                            background-size: 1440px;
                            margin-top: 73px;
                            padding-bottom: 60px; // To show whole laptop
                            padding-top: 0;
                            width: auto;
                        }

                    }

                }

                &--host {

                    @include whenLargerThan('large-screen') {
                        padding-left: 7px;
                    }

                    .subsection__heading {

                        @include whenLargerThan('large-screen') {
                            margin-bottom: 0;
                        }

                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            margin-top: 21px;
                            width: 328px;
                        }

                    }

                }

                &--enhanced {

                    @include whenLargerThan('large-screen') {
                        margin-left: 7px;
                        margin-top: 103px;
                    }

                    .subsection__heading {

                        @include whenLargerThan('large-screen') {
                            margin-bottom: 0;
                        }

                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            margin-top: 21px;
                            width: 328px;
                        }

                    }

                }

                &--setup {

                    @include whenLargerThan('large-screen') {
                        margin-top: 82px;
                        padding-left: 208px;
                    }

                    .subsection__heading {

                        @include whenLargerThan('large-screen') {
                            margin-bottom: 0;
                        }

                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            color: #838387;
                            font-size: 21px;
                            letter-spacing: -0.4px;
                            line-height: 1.48;
                            margin-left: 2px;
                            margin-top: 16px;
                            max-width: 655px;
                        }

                    }

                }

            }

            &__image {
                margin-top: 91px;
            }

        }

        &--core-design {

            margin-top: 140px;

            @include whenLargerThan('large-screen') {
                background-image: linear-gradient(to bottom, #fafafa, #ffffff);
                padding-top: 114px;
            }

            .section__heading {

                @include whenLargerThan('large-screen') {
                    font-size: 58px;
                    font-weight: bold;
                    letter-spacing: -2.6px;
                    line-height: 1;
                    margin-bottom: 0;
                    margin-left: 130px;
                    max-width: 592px;
                }

            }

            .section__subheading {

                @include whenLargerThan('large-screen') {
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;
                    margin-bottom: 0;
                    margin-left: 130px;
                    margin-top: 17px;
                    max-width: 584px;
                }

            }

            .featurePreviewContainer {

                @include whenLargerThan('large-screen') {
                    background-image: url("/img/mockups/xcore/macbook.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 734px;
                    margin: 112px auto 37px;
                    position: relative; // .featurePreview is abs
                    width: 1251px;
                }

                .featurePreview {

                    @include whenLargerThan('large-screen') {
                        background-image: url("/img/mockups/xcore/dashboard.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 607px;
                        left: 142px;
                        position: absolute;
                        top: 41px;
                        width: 968px;
                    }

                    &--settings {
                        background-image: url("/img/mockups/xcore/settings.png");
                    }

                }

            }

            .nav-tabs {

                border-bottom: none;

                @include whenLargerThan('large-screen') {
                    left: 2px;
                    margin: 0 auto;
                    max-width: 257px;
                    position: relative;
                }

                .nav-item {

                    @include whenLargerThan('large-screen') {
                        padding: 0 13px;
                    }

                }

                .nav-link {

                    color: #d1b2ff;
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: -0.2px;
                    padding-bottom: 18px;

                    @include whenLargerThan('large-screen') {
                        font-size: 20.8px;
                        margin-left: 0px;
                        padding-bottom: 12px;
                        padding-left: 2px;
                        padding-right: 4px;
                    }

                    &:hover {
                        border-color: transparent;
                    }

                    &.active {
                        background: none;
                        border: none;
                        border-bottom: 2px solid #5e00ff;
                        color: #6600ff;
                    }

                }

            }

            .tab-content {

                margin-top: 52px;

                @include whenLargerThan('large-screen') {
                    max-width: 645px;
                    margin: 50px auto 0;
                }

                .tab-pane {

                    color: #838387;
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;

                    @include whenLargerThan('large-screen') {
                        text-align: center;
                    }

                }

                strong {
                    color: #000000;
                    font-weight: 600;
                }

            }

        }

        &--beta {

            @include whenLargerThan('small-screen') {

                margin-top: 237px;

                & > .container {
                    max-width: 906px;
                }

            }

        }

    }

}
