#page-core{

    .navbar .navbar-nav a.nav-link--xcloud {
        background-color: transparent;
        border: solid 1px white;
        box-shadow: none;
    }

    .pageHeader {

        background-image: url('/img/headers/xcore_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 668px;
        margin-bottom: -87px;
        padding-top: 304px;
        position: relative;
        top: -87px;
        z-index: 1;

        @include whenLargerThan('large-screen') {
            padding-top: 265px;
            height: 860px;
            background-image :url('/img/headers/xcore_desktop.png');
        }

        &__icon {

            @include whenLargerThan('large-screen') {
                height: 68px;
                width: 68px;
            }

        }

        &__heading {

            color: white;
            font-size: 60.9px;
            font-weight: bold;
            letter-spacing: -3.2px;
            line-height: 0.75;
            margin-top: 27px;

            &::first-letter {
                letter-spacing: -9.9px;
            }

            @include whenLargerThan('large-screen') {

                font-size: 78px;
                letter-spacing: -2.5px;
                line-height: 0.82;
                margin-top: 42px;

                &::first-letter {
                    letter-spacing: -7.6px;
                }

            }

        }

        &__subheading {

            color: white;
            font-size: 33.6px;
            font-weight: 500;
            letter-spacing: -1.1px;
            line-height: 0.86;
            margin-top: 17px;
            opacity: 0.76;

            @include whenLargerThan('large-screen') {
                font-size: 41px;
                letter-spacing: -0.8px;
                line-height: 0.9;
                margin-top: 22px;
            }

        }

        &__cta {

            background-color: #6852f9;
            background-image: url("/img/icons/cta-chevron-circle.png");
            background-position: 176px center;
            background-repeat: no-repeat;
            background-size: 24px;
            border-radius: 31.4px;
            box-shadow: 0 7px 8px 0 #0f0d26;
            color: white;
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 47px;
            letter-spacing: -0.2px;
            margin-top: 42px;
            padding: 12px 46px 13px 23px;
            width: 221.2px;

            @include whenLargerThan('large-screen') {
                margin-top: 80px;
            }

        }

    }

    .section {

        &--core-summary {

            .subsection {

                margin-top: 91px;

                &__heading {

                    color: black;
                    font-size: 34px;
                    font-weight: 600;
                    letter-spacing: -0.6px;
                    line-height: 1.15;

                    @include whenLargerThan('large-screen') {
                        font-size: 40px;
                        font-stretch: normal;
                        font-style: normal;
                        font-weight: bold;
                        letter-spacing: -1.1px;
                        line-height: 0.98;
                    }

                }

                &__content {

                    color: #838387;
                    font-size: 20px;
                    letter-spacing: -0.1px;
                    line-height: 1.55;

                    @include whenLargerThan('large-screen') {
                        color: #838387;
                        font-size: 21px;
                        letter-spacing: -0.4px;
                        line-height: 1.48;
                    }

                }

                &--intro {

                    @include whenLargerThan('large-screen') {
                        padding-left: 100px;
                    }

                    .subsection__heading {

                        font-size: 44px;
                        letter-spacing: -0.8px;
                        line-height: 0.93;

                        @include whenLargerThan('large-screen') {
                            font-size: 58px;
                            font-weight: bold;
                            letter-spacing: -2.6px;
                            line-height: 1;
                            max-width: 684px;
                        }

                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            color: #838387;
                            font-size: 21px;
                            font-stretch: normal;
                            font-style: normal;
                            font-weight: normal;
                            letter-spacing: -0.4px;
                            line-height: 1.48;
                            max-width: 630px;
                        }

                    }

                    &--bg {
                        background-image: url("/img/mockups/xcore/intro.png");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                }

                &--host {

                }

                &--setup {

                    @include whenLargerThan('large-screen') {
                        padding-left: 100px;
                    }

                    .subsection__content {

                        @include whenLargerThan('large-screen') {
                            color: #838387;
                            font-size: 21px;
                            letter-spacing: -0.4px;
                            line-height: 1.48;
                            max-width: 655px;
                        }

                    }

                }

            }

            &__image {
                margin-top: 91px;
            }

        }

        &--core-design {

            margin-top: 140px;

            @include whenLargerThan('large-screen') {
                background-image: linear-gradient(to bottom, #fafafa, #ffffff);
                padding-top: 153px;
            }

            .section__heading {

                @include whenLargerThan('large-screen') {
                    font-size: 58px;
                    font-weight: bold;
                    letter-spacing: -2.6px;
                    line-height: 1;
                    max-width: 592px;
                }

            }

            .section__subheading {

                @include whenLargerThan('large-screen') {
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;
                    max-width: 584px;
                }

            }

            .featurePreviewContainer {

                @include whenLargerThan('large-screen') {
                    background-image: url("/img/mockups/xcore/macbook.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 735px;
                    margin: 120px auto 42px;
                    position: relative; // .featurePreview is abs
                    width: 1251px;
                }

                .featurePreview {

                    @include whenLargerThan('large-screen') {
                        background-image: url("/img/mockups/xcore/dashboard.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 607px;
                        left: 141px;
                        position: absolute;
                        top: 43px;
                        width: 968px;
                    }

                    &--settings {
                        background-image: url("/img/mockups/xcore/settings.png");
                    }

                }

            }

            .nav-tabs {

                border-bottom: none;

                @include whenLargerThan('large-screen') {
                    max-width: 270px;
                    margin: 0 auto;
                }

                .nav-item {
                }

                .nav-link {

                    color: #d1b2ff;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: -0.2px;
                    padding-bottom: 18px;

                    @include whenLargerThan('large-screen') {
                        font-size: 22px;
                    }

                    &.active {
                        background: none;
                        border: none;
                        border-bottom: 2px solid #5e00ff;
                        color: #6600ff;
                    }

                }

            }

            .tab-content {

                margin-top: 52px;

                @include whenLargerThan('large-screen') {
                    max-width: 645px;
                    margin: 52px auto 0;
                }

                .tab-pane {

                    color: #838387;
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;

                    @include whenLargerThan('large-screen') {
                        text-align: center;
                    }

                }

                strong {
                    color: #000000;
                    font-weight: 600;
                }

            }

        }

    }

}
