#page-home{

    .navbar{

        background-color: #16181a;

        .navbar-nav .nav-link{
            color: #e8e9eb;
        }

    }

    .pageHeader{

        background-color: #1b1d1f;
        color: white;
        padding-bottom: 0;
        padding-top: 47px;

        @include whenLargerThan('medium-screen'){
            padding-top: 0;
        }

        & > .container{

            height: 544px;
            background:{
                color: #1b1d1f;
                image:  url(/img/headers/home.png);
                position: center bottom;
                repeat: no-repeat;
                size: contain;
                size: 312px;
            }

            @include whenLargerThan('medium-screen') {
                padding-top: 111px;
                padding-left: 82px;
                height: 516px;
                background:{
                    position-x: right;
                    position-y: top;
                    size: 493px;
                }
            }

            @include whenLargerThan('large-screen') {
                padding-left: 72px;
                padding-top: 131px;
                height: 656px;
                background:{
                    position-x: 557px;
                    position-y: 26px;
                    size: 588px;
                }
            }

        }

        &__heading {

            font-size: 46px;
            font-weight: bold;
            letter-spacing: -1.3px;
            line-height: 0.96;
            margin-top: 0;
            max-width: 320px;
            padding-left: 8px;


            @include whenLargerThan('medium-screen') {
                letter-spacing: -1.8px;
                margin-top: 52px;
            }

            @include whenLargerThan('large-screen') {
                letter-spacing: -1px;
                margin-top: 17px;
                font-size: 57px;
                max-width: 400px;
            }

        }

        &__subheading{

            font-size: 24px;
            line-height: 1.11;
            letter-spacing: -0.6px;
            padding-left: 9px;
            font-weight: normal;

            @include whenLargerThan('medium-screen') {
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: -0.35px;
                max-width: 275px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 25px;
                max-width: 347px;
            }

        }

        &__cta{

            background: #323435;
            color: white;
            font-size: 14px;
            letter-spacing: 0.1px;
            line-height: 1.56;
            margin-left: 10px;
            margin-top: 23px;
            padding: 7px 21px;

            @include whenLargerThan('medium-screen') {
                font-size: 16.4px;
                line-height: 1.47;
                letter-spacing: 0.1px;
                padding: 11px 20px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 21px;
                padding: 15px 26px;
                margin-top: 34px;
            }

        }

    }

    .section{

        padding: 35px 0;

        &--home-references{

            padding-bottom: 0;

            @include whenLargerThan('medium-screen'){
                padding: 45px 0 0;
            }

            @include whenLargerThan('large-screen'){
                padding: 57px 0 20px;
            }

            .referenceContainer{

                margin-bottom: 37px;

                &:nth-of-type(1){

                    img{

                        height: 37px;

                        @include whenLargerThan('medium-screen') {
                            height: 31px;
                        }

                        @include whenLargerThan('large-screen') {
                            height: 39px;
                            position: relative;
                            left: -10px;
                        }

                    }

                }

                &:nth-of-type(2){

                    margin-bottom: 38px; // Needs a larger vertical gap for some reason

                    img{

                        height: 36px;

                        @include whenLargerThan('large-screen') {
                            height: 37px;
                            position: relative;
                            left: 29px;
                            top: 1px;
                        }

                    }

                }

                &:nth-of-type(3){

                    img{

                        height: 38px;

                        @include whenLargerThan('medium-screen') {
                            height: 32px;
                        }

                        @include whenLargerThan('medium-screen') {
                            height: 37px;
                            position: relative;
                            left: 36px;
                            top: 2px;
                        }

                    }

                }

                @include whenLargerThan('medium-screen'){
                    margin-bottom: 0;
                }

            }

        }

    }

}
