#page-home{

    .navbar{

        background-color: #16181a;

        .navbar-nav .nav-link{
            color: #e8e9eb;
        }

    }

    .pageHeader{

        background-color: #1b1d1f;
        color: white;
        padding-bottom: 0;
        padding-top: 43px;

        @include whenLargerThan('medium-screen'){
            padding-top: 0;
        }

        & > .container{

            height: 548px;
            background:{
                color: #1b1d1f;
                image:  url(/img/headers/home.png);
                position: center bottom;
                repeat: no-repeat;
                size: contain;
                size: 312px;
            }

            @include whenLargerThan('medium-screen'){
                padding-top: 111px;
                padding-left: 82px;
                height: 516px;
                background:{
                    position-x: right;
                    position-y: top;
                    size: 493px;
                }
            }

            @include whenLargerThan('large-screen'){
                padding-left: 72px;
                padding-top: 131px;
                height: 656px;
                background:{
                    position-x: right;
                    position-y: top;
                    size: 582px;
                }
            }

        }

        &__heading{

            font-size: 46px;
            font-weight: bold;
            letter-spacing: -1.8px;
            line-height: 0.96;
            margin-top: 0;
            max-width: 320px;
            padding-left: 8px;

            @include whenLargerThan('large-screen'){
                margin-top: 52px;
            }

            @include whenLargerThan('large-screen'){
                margin-top: 18px;
                font-size: 57px;
                max-width: 400px;
            }

        }

        &__subheading{

            font-size: 24px;
            line-height: 1.11;
            letter-spacing: -0.6px;
            padding-left: 9px;

            @include whenLargerThan('medium-screen') {
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: -0.1px;
                max-width: 275px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 25px;
                max-width: 347px;
            }

        }

        &__cta{

            background: #323435;
            color: white;
            font-size: 14px;
            letter-spacing: 0.1px;
            line-height: 1.56;
            margin-left: 10px;
            margin-top: 23px;
            padding: 7px 21px;

            @include whenLargerThan('medium-screen') {
                font-size: 17px;
                padding: 13px 22px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 21px;
                padding: 15px 26px;
                margin-top: 34px;
            }

        }

    }

    .section{

        padding: 35px 0;

        &--home-references{

            padding-bottom: 0;

            @include whenLargerThan('medium-screen'){
                padding: 45px 0 0;
            }

            @include whenLargerThan('medium-screen'){
                padding: 60px 0 15px;
            }

            .referenceContainer{

                margin-bottom: 35px;

                @include whenLargerThan('medium-screen'){
                    margin-bottom: 0;
                }

            }

        }

    }

}
