#page-home {

    .pageHeader {

        margin-bottom: 120px;
        margin-top: 88px;

        @include whenLargerThan('large-screen') {
            margin-bottom: 212px;
            margin-top: 209px;
        }

        &__heading {

            font-family: $font-family-sans-serif;
            font-size: 50px;
            font-weight: 600;
            letter-spacing: -1.7px;
            line-height: 1.24;
            margin-bottom: 0;

            @include whenLargerThan('large-screen') {
                font-size: 71px;
                font-weight: 500;
                letter-spacing: -2.3px;
                line-height: 0.87;
            }

        }

        &__subheading {

            color: #8e8e93;
            font-size: 26px;
            font-weight: normal;
            height: 108.5px;
            letter-spacing: -0.5px;
            line-height: 1.39;
            opacity: 0.7;
            margin-top: 24px;
            max-width: 348px;

            @include whenLargerThan('large-screen') {
                font-size: 43px;
                letter-spacing: -1.2px;
                line-height: 1.19;
                max-width: 750px;
                margin-top: 24px;
            }

        }

    }

    .articlePreviewContainer {

        @include whenLargerThan('large-screen') {

            // Two columns for first two, three cols for the rest
            @include make-col-ready();
            @include make-col(4);

        }

        .articleImgContainer {
            height: 175px;
            overflow: hidden;
        }

        &:nth-of-type(1) {

            @include whenLargerThan('large-screen') {
                @include make-col(6);
            }

            .articleImgContainer {
                height: 254px;
            }

        }

        &:nth-of-type(2) {

            @include whenLargerThan('large-screen') {
                @include make-col(6);
            }

            .articleImgContainer {
                height: 254px;
            }

        }

    }

    .articlePreview {

        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
        margin-top: 72px;
        overflow: hidden;

        &__content {
            padding: 32px;
        }

        &__date {

            color: #538ef4;
            font-size: 11px;
            font-weight: 900;
            letter-spacing: 0.2px;
            line-height: 3;
            text-transform: uppercase;

            @include whenLargerThan('large-screen') {
                color: #3b7ff5;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }

        }

        &__title {
            color: black;
            font-size: 22px;
            letter-spacing: -0.7px;
            line-height: 1.27;
            min-height: 81px;
        }

        &__cta {
            color: #3b7ff5;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: -0.4px;
            line-height: 1.54;
        }



    }

    .section {

        &--products {

            & > .container {

                & > .section__label,
                & > .section__heading {

                    display: none;

                    @include whenLargerThan('large-screen') {
                        display: block;
                    }

                }

                & > .section__heading {

                    @include whenLargerThan('large-screen') {
                        font-size: 31px;
                        font-weight: 600;
                        letter-spacing: -0.7px;
                        line-height: 1.68;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }

                }

            }


        }

    }

}
