#page-resources{


	.section{

		&__heading {
			margin-bottom: 0;
		}

		&__content {
			margin-top: 80px;
		}

	}


	.subsection{

		background-color: #ffffff;
		border-radius: 4px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
		overflow: hidden;

		@include whenLargerThan('large-screen') {
			min-height: 427px;
		}

		&__heading {
			color: #3b7ff5;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.83;
			margin-bottom: 16px;
		}


		&__content {

			color: black;
			font-size: 24px;
			letter-spacing: -0.7px;
			line-height: 1.38;
			margin-top: 12px;
			padding: 40px 33px 40px 40px;

			@include whenLargerThan('large-screen') {
				font-size: 28px;
				letter-spacing: -0.8px;
				line-height: 1.18;
				padding: 26px 40px;
			}

		}

		&--whitepaper{


		}

	}

}
