#page-roadmap{

    .container > hr {
        background-color: #e8e8e8;
        height: 1px;
        margin-bottom: 100px;
        margin-top: 170px;
    }

    .section {

        &__heading {

            font-size: 44px;
            font-weight: 600;
            letter-spacing: -0.8px;
            line-height: 0.93;

            @include whenLargerThan('large-screen') {
                font-size: 35px;
                font-weight: bold;
                letter-spacing: -1px;
                line-height: 1.66;
            }

        }

        &__content {
            padding-top: 52px;
        }

        &--milestones {

            &--published {

                .subsection--milestone .subsection__label {
                    color: #0094ff;
                }

            }

            &--in-progress {

                .subsection--milestone .subsection__label {
                    color: #f72d2d;
                }

            }

        }

    }

    .subsection {

        &--milestone {

            border-radius: 4px;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.06);
            cursor: pointer;
            height: 180px;
            margin-top: 19px;
            padding: 34px 23px;
            transition: height $transition-default;

            .subsection__label {
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }

            .subsection__heading {
                font-size: 28px;
                font-weight: 600;
                letter-spacing: -0.8px;
                line-height: 2.1;
            }

            .subsection__content {
                color: #838387;
                font-size: 17px;
                letter-spacing: -0.1px;
                line-height: 1.65;
                opacity: 0;
                transition: opacity $transition-default 0s;
                // transition-delay: 0.25s;
            }

            &--active {

                height: 287px;

                .subsection__content {
                    opacity: 1;
                    transition: opacity $transition-default .25s;
                }

            }

        }

    }
}
