#page-timeline{

    .section{

        &--timeline{

            padding-top: 50px;

            @include whenLargerThan('large-screen') {
                padding-top: 67px;
            }

            & > .container{

                padding-left: 24px;
                padding-right: 24px;

                @include whenLargerThan('medium-screen') {
                    width: 788px;
                    padding-left: 0;
                    padding-right: 0;
                }

                @include whenLargerThan('large-screen') {
                    width: 990px;
                }

            }

            .section__heading{

                font-size: 46px;
                font-weight: bold;
                letter-spacing: -1.3px;
                line-height: 0.96;
                margin-bottom: 60px;

                @include whenLargerThan('medium-screen') {
                    font-size: 62px;
                    line-height: 1.03;
                    letter-spacing: -2.7px;
                }

                @include whenLargerThan('large-screen') {
                    font-size: 85px;
                    letter-spacing: -3.8px;
                    margin-bottom: 80px;
                }

            }

        }

    }

    .subsection{

        &__label{
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.84;
            letter-spacing: -0.7px;
            padding-top: 3px;
            margin-bottom: 6px;

            @include whenLargerThan('medium-screen') {
                margin-bottom: 0;
            }

            @include whenLargerThan('large-screen') {
                font-size: 26px;
                line-height: 1.88;
                letter-spacing: -0.1px;
            }

        }

        &__heading{

            font-size: 36px;
            font-weight: bold;
            line-height: 1.06;
            letter-spacing: -1px;

            @include whenLargerThan('medium-screen') {
                margin-bottom: 8px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 45px;
                line-height: 1.09;
                letter-spacing: -1.3px;
            }

        }

        &__content{

            font-size: 20px;
            letter-spacing: -0.3px;
            line-height: 1.35;

            @include whenLargerThan('medium-screen') {
                max-width: 308px;
                font-size: 16px;
                line-height: 1.55;
                letter-spacing: -0.1px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 20px;
                line-height: 1.55;
                letter-spacing: -0.1px;
                max-width: 390px;
            }

        }

        &__status{

            border-radius: 3.2px;
            color: white;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.84;
            max-width: 187px;
            padding: 9px 0;
            text-align: center;
            margin-top: 15px;

            @include whenLargerThan('medium-screen') {
                margin-top: -7px;
            }

            @include whenLargerThan('large-screen') {
                font-size: 18px;
                line-height: 1.89;
                max-width: 227px;
                height: 52px;
                margin-right: 8px;
            }

            &--upcoming{
                background-color: #a1c2f9;
            }

            &--in-progress{
                background-color: #4385f4;
            }

            &--published{
                background-color: #1b1d1f;
            }

        }
    }

    hr{

        max-width: 1440px;
        margin: 39px auto 65px;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
        border: none;
        height: 1px;

        @include whenLargerThan('medium-screen') {
            margin: 48px auto 44px;
        }

        @include whenLargerThan('medium-screen') {
            margin: 63px auto 55px;
        }

    }

}
