#page-team{

    .section{

        & > .container{

            padding-left: 24px;
            padding-right: 24px;

            @include whenLargerThan('medium-screen') {
                max-width: 840px;
            }

            @include whenLargerThan('large-screen') {
                max-width: 1036px;
            }

        }

        .section__heading{

            font-size: 46px;
            line-height: 0.96;
            letter-spacing: -1.3px;
            font-weight: bold;

            @include whenLargerThan('medium-screen') {
                font-size: 68px;
                line-height: 0.94;
                letter-spacing: -3px;
                margin-bottom: 0;
            }

            @include whenLargerThan('large-screen') {
                font-size: 85px;
                letter-spacing: -3.8px;
                margin-bottom: 10px;
            }

        }

        .section__content{

            padding-top: 50px;
            // padding-top: 72px;

            .col-sm-4{

                @include whenLargerThan('medium-screen') {
                    padding: 0 10px;
                }

            }

            .row{

                @include whenLargerThan('medium-screen') {
                    margin-left: -10px;
                   margin-right: -10px;
                }

                @include whenLargerThan('medium-screen') {
                    margin-left: -5px;
                    margin-right: -5px;
                }

            }

        }

        &--team-core{

            padding-top: 50px;

            @include whenLargerThan('large-screen') {
                padding-top: 76px;
            }

        }

        &--team-partners{

            .teamMember{
                height: 300px;
            }

        }

    }

    .teamMember{

        border-radius: 4px;
        overflow: hidden;
        background-color: #16181a;
        height: 401px;
        margin-bottom: 42px;

        // height: 260px;
        // margin-bottom: 60px;

        @include whenLargerThan('medium-screen') {
            height: 306px;
        }

        @include whenLargerThan('large-screen') {
            height: 383px;
        }

        &--blank{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--partner{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f7f7f7;
        }

        &__text{

            color: white;
            padding: 27px 0 19px 0;
            text-align: center;
            position: relative;
            top: -14px;
            background: #16181a;

            @include whenLargerThan('medium-screen') {
                padding-top: 19px;
            }

        }

        &__name{

            font-size: 24px;
            line-height: 0.7;
            font-weight: bold;
            margin-bottom: 12px;


            @include whenLargerThan('medium-screen') {
                font-size: 18px;
                line-height: 0.71;
            }

            @include whenLargerThan('medium-screen') {
                font-size: 22px;
                line-height: 0.73;
            }

        }

        &__position{

            color: #afb1b3;
            font-size: 15px;
            line-height: 1.05;
            margin-bottom: 0;

            @include whenLargerThan('medium-screen') {
                font-size: 12px;
                line-height: 1.05;
                letter-spacing: -0.2px;
                color: #afb1b3;
            }

            @include whenLargerThan('medium-screen') {
                font-size: 15px;
                letter-spacing: -0.3px;
            }

        }

        &__bio{
            display: none;
        }

        &__heading{
            font-size: 31px;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 15px;
            // line-height: 0.53;
        }

        &__subheading{
            color: #afb1b3;
            font-size: 18px;
            letter-spacing: -0.4px;
            line-height: 0.87;
            margin-bottom: 40px;
        }

        &__btn{
            background-color: #2e2f30;
            color: white;
        }

    }

    hr{

        border-top-color: black;
        max-width: 1440px;
        margin: 50px auto 70px auto;

        @include whenLargerThan('medium-screen') {
            border: none;
            height: 1px;
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
            max-width: 1080px;
        }

        @include whenLargerThan('large-screen') {
            max-width: 1440px;
        }

        // margin: 156px auto 105px auto;
    }

}
