#page-terms{

	& > .container {
		max-width: 977px;
	}

	.pageHeader{

		margin-top: 87px;

		&__heading{
			font-size: 71px;
			font-weight: 600;
			line-height: 0.87;
			letter-spacing: -2.3px;
		}

	}

	.section{

		margin-bottom: 100px;

		&__heading{
			font-size: 43px;
			font-weight: normal;
			letter-spacing: -1.2px;
			line-height: 1.19;
		}

		&__content {

			color: #838387;
			font-size: 21px;
			letter-spacing: -0.4px;
			line-height: 1.48;

			p{
				margin-bottom: 32px;
			}

		}

	}
}
