#page-token{

    .navbar .navbar-nav a.nav-link--xcloud {
        background-color: transparent;
        border: solid 1px white;
        box-shadow: none;
    }

    .pageHeader {

        background-image: url('/img/headers/inxt_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
        height: 668px;
        margin-bottom: -87px;
        padding-top: 206px;
        position: relative;
        text-align: center;
        top: -87px;
        z-index: 1;

        @include whenLargerThan('large-screen') {
            background-image: url('/img/headers/inxt_desktop.png');
            height: 870px;
            padding-top: 320px;
        }

        &__heading {

            color: #272727;
            font-size: 21px;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 2.48;
            margin-bottom: 0;
            text-transform: uppercase;

            @include whenLargerThan('large-screen') {;
                font-size: 24px;
                line-height: 2.17;
            }

        }

        &__subheading {

            font-size: 32px;
            font-weight: 600;
            letter-spacing: -0.6px;
            line-height: 1.19;
            margin-top: 3px;

            @include whenLargerThan('large-screen') {;;
                font-size: 50px;
                letter-spacing: -0.9px;
                line-height: 0.98;
                margin-top: 8px;
            }

        }

        &__cta {

            background-color: #000000;
            background-image: url("/img/icons/chevron-right-circle.svg");
            background-repeat: no-repeat;
            background-position: 222px center;
            border-radius: 31.4px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
            color: white;
            display: block;
            font-size: 18px;
            font-weight: 600;
            height: 47px;
            letter-spacing: -0.2px;
            margin: 41px auto 0;
            padding: 11px 34px 13px 12px;
            width: 257.2px;

            @include whenLargerThan('large-screen') {
                margin-top: 50px;
            }

        }

    }

    .section {

        &--inxt-data{

            background-color: #fafafa;
            padding: 32px 0 24px;

            .inxtDatum {

                text-align: center;

                &__label{
                    color: #666666;
                    font-size: 15px;
                    margin-bottom: 0;
                }

                &__point {

                    font-size: 56.9px;
                    font-weight: 600;
                    letter-spacing: -2.7px;
                    line-height: 1.3;
                    margin-bottom: 0;

                    &--positive{
                        color: #15d157;
                    }

                }

            }
        }

        &--inxt-intro {

            padding-top: 45px;

            @include whenLargerThan('large-screen') {
                padding-top: 108px;
            }

            & > .container {

                @include whenLargerThan('large-screen') {
                    max-width: 1182px;
                }

            }

            .section__heading {

                color: black;
                font-size: 33px;
                font-weight: bold;
                letter-spacing: -0.6px;
                line-height: 1.18;
                margin-bottom: 0;

                @include whenLargerThan('large-screen') {
                    font-size: 40px;
                    letter-spacing: -1.1px;
                    line-height: 0.98;
                    margin-top: 0;
                }

            }

            .section__content {

                color: #838387;
                font-size: 20px;
                letter-spacing: -0.1px;
                line-height: 1.55;
                margin-top: 22px;

                // TODO fix mobile
                p:nth-child(2) {

                    @include whenLargerThan('large-screen') {
                        margin-bottom: 30px;
                    }

                }

            }

            .col-lg-6 {

                @include whenLargerThan('large-screen') {
                    max-width: 492px;
                }

                .section__heading {

                    @include whenLargerThan('large-screen') {
                        margin-bottom: 58px;
                    }

                }

            }

            .col-lg-5 {

                @include whenLargerThan('large-screen') {
                    padding-left: 51px;
                }

            }

            .subsection {

                margin-top: 74px;

                @include whenLargerThan('large-screen') {

                    margin-top: 42px;

                    .col-lg-2 {
                        padding-left: 8px;
                    }

                }

                &__iconContainer {

                    align-items: center;
                    background-color: #4585f5;
                    border-radius: 50%;
                    display: flex;
                    height: 57px;
                    justify-content: center;
                    width: 57px;

                    @include whenLargerThan('large-screen') {
                        height: 52px;
                        width: 52px;
                    }

                }

                &__icon {
                    height: 32px;
                }

                &__heading {

                    color: black;
                    font-size: 33px;
                    font-weight: bold;
                    letter-spacing: -0.6px;
                    line-height: 1.18;
                    margin-top: 21px;

                    @include whenLargerThan('large-screen') {
                        font-size: 30px;
                        letter-spacing: -0.2px;
                        line-height: 1.27;
                        margin-bottom: 0;
                        margin-top: 0;
                    }

                }

                &__content {

                    font-size: 20px;
                    letter-spacing: -0.1px;
                    line-height: 1.55;
                    margin-top: 30px;

                    @include whenLargerThan('large-screen') {
                        font-size: 18px;
                        letter-spacing: -0.2px;
                        line-height: 1.61;
                        margin-top: 10px;
                        max-width: 318px;
                    }

                }

                &--demand {

                    margin-top: 102px;

                    @include whenLargerThan('large-screen') {
                        margin-top: 0;
                    }

                }

            }

        }

        &--inxt-exchanges {

            background-color: #fafafa;
            margin-top: 140px;
            padding-top: 103px;
            padding-bottom: 120px;

            @include whenLargerThan('large-screen') {
                padding-bottom: 148px;
                padding-top: 88px;
                text-align: center;
            }

            .section__heading {

                font-size: 33px;
                font-weight: bold;
                letter-spacing: -0.6px;
                line-height: 1.18;

                @include whenLargerThan('large-screen') {
                    font-size: 40px;
                    letter-spacing: -1.1px;
                    line-height: 0.98;
                    margin-bottom: 0;
                }

            }

            .section__content {

                color: #838387;
                font-size: 20px;
                letter-spacing: -0.1px;
                line-height: 1.55;

                @include whenLargerThan('large-screen') {
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;
                    margin: 26px auto 0;
                    max-width: 628px;
                    text-align: center;
                }

            }

            .section__footer {

                @include whenLargerThan('large-screen') {
                    margin: 94px auto 0;
                    max-width: 992px;
                }

            }

            .section__imageContainer {

                background-color: #4585f5;
                border-radius: 29.2px;
                box-shadow: 0 2px 3px 0 #bfc5d9;

                @include whenLargerThan('large-screen') {
                    padding: 13px 24px 20px;
                }

            }

            .section__image {

                @include whenLargerThan('large-screen') {
                    height: 24px;
                }

            }

        }

        &--inxt-buy {

            // No padding bottom as subscribe section has margin top
            padding-top: 112px;

            @include whenLargerThan('large-screen') {
                text-align: center;
            }

            & > .container {

                @include whenLargerThan('large-screen') {
                    margin: 0 auto;
                    max-width: 711px;
                }

            }

            .section__heading {

                font-size: 33px;
                font-weight: bold;
                letter-spacing: -0.6px;
                line-height: 1.18;
                margin-bottom: 0;

                @include whenLargerThan('large-screen') {
                    font-size: 40px;
                    letter-spacing: -1.1px;
                    line-height: 0.98;
                }

            }

            .section__content {

                color: #838387;
                font-size: 20px;
                letter-spacing: -0.1px;
                line-height: 1.55;
                margin-top: 20px;

                @include whenLargerThan('large-screen') {
                    font-size: 21px;
                    letter-spacing: -0.4px;
                    line-height: 1.48;
                    margin-top: 24px;
                }

            }

            .section__instruction {

                color: black;
                font-size: 25px;
                font-weight: 600;
                letter-spacing: -0.5px;
                line-height: 1.56;
                margin-top: 70px;

                @include whenLargerThan('large-screen') {
                    font-size: 24px;
                    letter-spacing: -0.1px;
                    margin-top: 89px;
                }

            }

            .paymentMethods {

                margin-top: 42px;

                @include whenLargerThan('large-screen') {
                    margin: 42px auto 0;
                    max-width: 333px;
                }

            }

            .btn-default {

                background-color: #f2f4f7;
                border-radius: 9.1px;
                padding: 12px 18px;

                img {
                    height: 52px;
                }

            }

        }

    }

    // Apologies for the code ahead, but I can't alter the HTML
    #cryptoWolfContainer{

        .content.form-group.form-control{
            border: none;
        }

        .form-control{
            margin-bottom: 10px;
        }

        .quform-element-text{

            &:nth-of-type(1){
                margin-bottom: 20px;
            }

            &:nth-of-type(2),
            &:nth-of-type(4){

                @include whenLargerThan('medium-screen') {
                    float: left;
                    width: 50%;
                }

            }

        }

        .quform-label-text{
            // font-size: 35px; // Currently causing wrapping issues
        }

        .quform-error-text{
            color: red;
        }

        input{
            width: 386px;
            height: 73px;
            border-radius: 8px;
            border: solid 1px #c9c9c9;
            font-size: 19px;
            letter-spacing: -0.2px;
            padding-left: 24px;
        }

        #amount{
            margin: 42px 0 42px -12px;
        }

        .clockdiv{
            margin-bottom: 40px;
            opacity: 0.57;
            font-size: 18px;
            letter-spacing: -0.2px;
            color: #000000;
        }

        .quform-next{
            border-radius: 6px;
            background-color: #4385f4;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: -0.1px;
            color: #ffffff;
            border: none;
            padding: 10px 22px;
            cursor: pointer;
        }

        #hiddendiv + div{
            top: 42px;
            display: block;
            float: none !important;
            position: relative;
        }

    }

}
