#page-token{

    .pageHeader,
    .section{

        & > .container{

            padding-left: 24px;
            padding-right: 24px;

            @include whenLargerThan('medium-screen') {
                padding-left: 72px;
                padding-right: 72px;
            }

        }

    }

    .pageHeader{

        padding-top: 51px;


        &__heading{

            font-size: 45px;
            font-weight: bold;
            line-height: 0.94;
            letter-spacing: -1.1px;

            @include whenLargerThan('medium-screen') {
                font-size: 85px;
                font-weight: bold;
                line-height: 0.94;
                letter-spacing: -3.8px;
            }

            .linebreak{

                display: block;

                @include whenLargerThan('medium-screen') {
                    display: none;
                }

            }

        }

        &__subheading{

            font-size: 19px;
            line-height: 1.56;
            letter-spacing: -0.4px;

            @include whenLargerThan('medium-screen') {
                font-size: 25px;
                line-height: 1.56;
                letter-spacing: -0.4px;
            }
        }

    }

    .inxtDatum {

        margin-bottom: 20px;
        max-width: 242px;

        @include whenLargerThan('medium-screen') {
            margin-bottom: 34px;
            max-width: none;
        }

        &__label{

            color: #666666;
            font-size: 13px;
            margin: 0;

            @include whenLargerThan('medium-screen') {
                font-size: 16px;
            }

        }

        &__point{

            font-size: 63px;
            letter-spacing: -3.9px;
            margin: 0;
            // Large font size causing silly top gap?
            position: relative;
            top: -20px;

            @include whenLargerThan('medium-screen') {
                font-size: 82px;
            }

            &--positive{
                color: #15d157;
            }

        }

        &__measure{
            font-size: 49px;
        }

        &__sign{
            font-size: 62px;
        }

    }


    .section{

        margin: 0;
        margin-bottom: 89px;

        &__heading{

            font-size: 38px;
            font-weight: bold;
            letter-spacing: -1.5px;
            line-height: 0.87;
            margin-bottom: 20px;

            @include whenLargerThan('medium-screen') {
                margin-bottom: 42px;
                font-size: 60px;
            }

        }

        &__content{

            p{

                font-size: 19px;
                letter-spacing: -0.2px;
                line-height: 1.45;

                @include whenLargerThan('medium-screen') {
                    font-size: 22px;
                }

                &:last-of-type{
                    margin-bottom: 0
                }

            }

        }

        &--inxt-data{

            margin-top: 29px;
            margin-bottom: 84px;

            @include whenLargerThan('medium-screen') {
                margin-top: 52px;
                margin-bottom: 130px;
            }

            .row:nth-child(1) .inxtDatum{
                border-bottom: 2px solid black;
            }

        }

        &--inxt-faciliting{

            .section__content{
                max-width: 786px;
            }

        }

        &--inxt-exchange{

            .section__content{
                max-width: 786px;
            }

            .btn{

                background: #f5f5f5;
                border-radius: 3px;
                height: 50px;
                margin-right: 20px;
                width: 203px;
                margin-bottom: 42px;
                padding-top: 12px;

                &:last-of-type{
                    margin-right: 0;
                }

            }

        }

        &--inxt-buy{

            padding-bottom: 125px;

            .section__content{
                max-width: 786px;
            }

            .btn{
                border-radius: 11.2px;
                border: solid 2px #d9d9d9;
                height: 102px;
                padding: 21px 0 19px;
                width: 125px;
            }

            p.section__instruction{
                font-size: 35px;
                font-weight: bold;
                letter-spacing: -0.7px;
                margin-bottom: 35px;
                margin-top: 47px;
            }

        }

    }

    hr{
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #000000 50%, rgba(255, 255, 255, 0));
        border: none;
        height: 1px;
        margin-bottom: 93px;
        margin-top: 74px;
        max-width: 1440px;
    }

    // Apologies for the code ahead, but I can't alter the HTML
    #cryptoWolfContainer{

        .content.form-group.form-control{
            border: none;
        }

        .form-control{
            margin-bottom: 10px;
        }

        .quform-element-text{

            &:nth-of-type(1){
                margin-bottom: 20px;
            }

            &:nth-of-type(2),
            &:nth-of-type(4){

                @include whenLargerThan('medium-screen') {
                    float: left;
                    width: 50%;
                }

            }

        }

        .quform-label-text{
            // font-size: 35px; // Currently causing wrapping issues
        }

        .quform-error-text{
            color: red;
        }

        input{
            width: 386px;
            height: 73px;
            border-radius: 8px;
            border: solid 1px #c9c9c9;
            font-size: 19px;
            letter-spacing: -0.2px;
            padding-left: 24px;
        }

        #amount{
            margin: 42px 0 42px -12px;
        }

        .clockdiv{
            margin-bottom: 40px;
            opacity: 0.57;
            font-size: 18px;
            letter-spacing: -0.2px;
            color: #000000;
        }

        .quform-next{
            border-radius: 6px;
            background-color: #4385f4;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: -0.1px;
            color: #ffffff;
            border: none;
            padding: 10px 22px;
            cursor: pointer;
        }

        #hiddendiv + div{
            top: 42px;
            display: block;
            float: none !important;
            position: relative;
        }

    }

}
